---
title: Главная
pagination:
  enable: true
---
<main class="content">
    {% include ny-timer.html %}
    <div class="l-content">
        {% comment %}
        <iframe src="https://live.vkplay.ru/app/embed/pbody_iwnl" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="684" style="margin-bottom: -5px; border: 1px #000000 solid;"></iframe>
        <h2>Праздничный стрим</h2>
        <hr>
        {% endcomment %}
        {% include carousel.html slides=site.data.carousel.home %}
        {% include posts.html %}
    </div>
    <aside class="r-content">
        {% include block.html url="/mods/download" image="/assets/img/wot_243_ru.png" %}
        <span class="geolimited">{% include block.html text="WGMODS" url="https://wgmods.net/search/?owner=778034" image="/assets/img/com_mods.png" %}</span>
        <span class="only_for_limited">{% include block.html text="МОСТ" url="http://forum.tanki.su/index.php?/topic/2205036-all-%d0%bc%d0%be%d1%81%d1%82/" image="/assets/img/com_most.png" %}</span>
        {% include block.html text="ПРИГЛАСИ ДРУГА!" url="https://tanki.su/ru/content/guide/general/referral-program-guide/" image="/assets/img/side/ref_242.jpg" %}
        {% include block.html text="В РАЗРАБОТКЕ" url="/development" image="/assets/img/side/in_dev_92_1.jpg" %}
        {% include block.html text="ПОДДЕРЖАТЬ ПРОЕКТ!" url="https://boosty.to/mr.bendy" image="/assets/img/side/boosty.png" %}
        {% include block.html text="ЦЕНТР ПОДДЕРЖКИ" url="/support" image="/assets/img/side/support_wot.jpg" %}
        <hr style="width: 80%; margin: 15px auto 15px auto;">
        {% include socials.html person="wek" title="default" %}
        <h3 style="margin-top: 7px;">Присоединяйся!</h3>
    </aside>
</main>
