<div class="wrapper">
    <div class="images">
        <div class="img-2"></div>
        <div class="img-1"></div>
    </div>
    <div class="slider">
        <div class="drag-line">
            <span></span>
        </div>
        <input type="range" min="0" max="100" value="50">
    </div>
</div>
<div style="padding: 0 8px; margin: 5px 0 10px;">
    <span style=""><i>{{ include.before_text }}</i></span>
    <span style="float: right;"><i>{{ include.after_text }}</i></span>
</div>
<script>
    const slider = document.querySelector(".slider input");
    const img = document.querySelector(".images .img-1");
    const dragLine = document.querySelector(".slider .drag-line");
    slider.oninput = function() {
        let sliderVal = slider.value;
        dragLine.style.left = sliderVal + "%";
        img.style.width = sliderVal + "%";
    }
</script>
<style>
.wrapper{
  position: relative;
  height: 400px;
  width: 680px;
  overflow: hidden;
  background: #fe5000;
  border: 3px solid #fe5000;
}
.wrapper .images{
  height: 100%;
  width: 100%;
  display: flex;
}
.wrapper .images .img-2{
  height: 100%;
  width: 100%;
  background: url({{ include.after_url | relative_url }}) no-repeat;
  background-size: cover;
}
.wrapper .images .img-1{
  position: absolute;
  height: 100%;
  width: 50%;
  background: url({{ include.before_url | relative_url }}) no-repeat;
  background-size: cover;
}
.wrapper .slider{
  position: absolute;
  top: -45px;
  width: 100%;
  z-index: 99;
}
.wrapper .slider input{
  width: 100%;
  outline: none;
  background: none;
  -webkit-appearance: none;
}
.slider input::-webkit-slider-thumb{
  height: 486px;
  width: 3px;
  background: none;
  -webkit-appearance: none;
  cursor: col-resize;
}
.slider .drag-line{
  width: 3px;
  height: 486px;
  position: absolute;
  left: 49.85%;
  pointer-events: none;
}
.slider .drag-line::before,
.slider .drag-line::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 222px;
  background: #fe5000;
}
.slider .drag-line::before{
  top: 0;
}
.slider .drag-line::after{
  bottom: 0;
}
.slider .drag-line span{
  height: 42px;
  width: 42px;
  border: 3px solid #fe5000;
  position: absolute;
  background: #1c1c1e;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.slider .drag-line span::before,
.slider .drag-line span::after{
  position: absolute;
  content: "";
  top: 50%;
  border: 10px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.slider .drag-line span::before{
  left: 40%;
  border-left-color: #fe5000;
}
.slider .drag-line span::after{
  left: 60%;
  border-top-color: #fe5000;
}
</style>