<div class="l-img-signature">
    <div class="b-img-signature">
        <a href="{{ include.url1 | relative_url }}" class="b-img-signature_link">
            <span class="b-img-signature_img" style="background-image: url({{ include.url1 | relative_url }})"></span>
        </a>
    </div>
    <div class="b-img-signature">
        <a href="{{ include.url2 | relative_url }}" class="b-img-signature_link">
            <span class="b-img-signature_img" style="background-image: url({{ include.url2 | relative_url }})"></span>
        </a>
    </div>
    <div class="b-img-signature">
        <a href="{{ include.url3 | relative_url }}" class="b-img-signature_link">
            <span class="b-img-signature_img" style="background-image: url({{ include.url3 | relative_url }})"></span>
        </a>
    </div>
</div>