<div class="l-img-signature">
    <div class="b-img-signature">
        <img class="b-img-signature_img fancy-img" src="{{ include.url1 | relative_url }}" width="215" height="161">
    </div>
    <div class="b-img-signature">
        <img class="b-img-signature_img fancy-img" src="{{ include.url2 | relative_url }}" width="215" height="161">
    </div>
    <div class="b-img-signature">
        <img class="b-img-signature_img fancy-img" src="{{ include.url3 | relative_url }}" width="215" height="161">
    </div>
</div>