<div class="footer">
    <div class="footer-social">
        <ul class="social-big">
            <li class="social-big_item">
                <a class="social-link social-link_wot" href="#">
                    <span class="social-ico social-ico-wot"></span>
                    <div class="social-big-info">
                        <p class="social-big-text">ПРИСОЕДИНЯЙТЕСЬ</p>
                    </div>
                </a>
            </li>
            <li class="social-big_item">
                <a class="social-link social-link_discord" href="{{ site.data.socials.discord }}">
                    <span class="social-ico social-ico-discord"></span>
                    <div class="social-big-info">
                        <p class="social-big-text">СЛЕДИТЕ В DISCORD</p>
                    </div>
                </a>
            </li>
            <li class="social-big_item">
                <a class="social-link social-link_vk" href="{{ site.data.socials.vk }}">
                    <span class="social-ico social-ico-vk"></span>
                    <div class="social-big-info">
                        <p class="social-big-text">ЧИТАЙТЕ ВКОНТАКТЕ</p>
                    </div>
                </a>
            </li>
            <li class="social-big_item">
                <a class="social-link social-link_yt" href="{{ site.data.socials.youtube }}">
                    <span class="social-ico social-ico-yt"></span>
                    <div class="social-big-info">
                        <p class="social-big-text">СМОТРИТЕ НА YOUTUBE</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-holder">
        <div class="footer-links">
            <div class="footer-menu">
                <a class="footer-menu-link" href="#">PLACEHOLDER</a>
            </div>
            <div class="footer-logo">
                <a class="footer-logo-link" href="#"></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-copyright">
            2019–2023 «WoT это Классика!» Не является официальным проектом Lesta Games. Все оформления страниц и
            иконки принадлежат Lesta Games
        </div>
    </div>
</div>