<div class="footer">
    <div class="footer-social">
        <ul class="social-big">
            <li class="social-big-item">
                <a class="social-link" href="#">
                    <span class="social-ico">
                        <span class="social-ico-wot"></span>
                    </span>
                    <div class="social-big-info">
                        <p class="social-big-text">ТЕКСТ</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-holder">
        <div class="footer-links">
            <div class="footer-menu">
                <a class="footer-menu-link" href="#">PLACEHOLDER</a>
            </div>
            <div class="footer-logo">
                <a class="footer-logo-link" href="#"></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-copyright">
            2019–2023 «WoT это Классика!» Не является официальным проектом Lesta Games. Все оформления страниц и
            иконки принадлежат Lesta Games
        </div>
    </div>
</div>