<div class="brand-header">
    <a class="mb-logo" href="{{ site.data.socials.bendy.mrbendy.url }}"></a>
    <a class="brand-link" href="{{ site.data.socials.bendy.discord.url }}">Discord</a>
    <a class="brand-link" href="http://forum.worldoftanks.ru/index.php?/topic/2134176-«wot-это-классика»-ламповый-world-of-tanks/">Форум</a>
    <a class="brand-link" href="https://koreanrandom.com/forum/topic/65511-«wot-это-классика»-ламповый-world-of-tanks/">Korean Random</a>
</div>
<div class="navigation-header">
    <div class="navigation-head-centr">
        <a class="nav-logo" href="{{ '/' | relative_url }}" alt="WOT_logo"></a>
        <a class="navigation-link {% if page.url == "/" %}navigation-link-active{% endif %}" href="{{ '/' | relative_url }}">Главная</a>
        <a class="navigation-link {% if page.url == "/mods.html" %}navigation-link-active{% endif %}" href="{{ '/mods' | relative_url }}">Моды</a>
        <a class="navigation-link {% if page.url == "/community.html" %}navigation-link-active{% endif %}" href="{{ '/community' | relative_url }}">Сообщество</a>
    </div>
</div>
<div>
    <div class="content-wrapper">
        <a title="World of Tanks Classic" class="wotc-logo" href="{{ '/' | relative_url }}"></a>
        <div class="b-cluster-lite" id="mobileNotif">
            <div class="b-cluster-lite_message">
                <p class="b-cluster-lite_text">
                    <span class="b-cluster-lite_name">Внимание!</span>
                    <br>
                    В данный момент просмотр сайта на мобильных устройствах не поддерживается. Для оптимального опыта рекомендуем использовать настольную версию браузера.
                </p>
            </div>
        </div>
        <style>
            .b-cluster-lite {
                background-color: #000;
                background-position: 100% 0;
                background-repeat: no-repeat;
                box-shadow: 0 0 10px rgba(0, 0, 0, .7), 0 0 1px rgba(255, 255, 255, .4) inset;
                position: absolute;
                right: 0;
                top: 75px;
                width: 510px;
                z-index: 7;
            }

            .b-cluster-lite_message {
                background: url(/assets/img/cluster_message_ico.png) no-repeat 7px 8px;
                color: #909191;
                font-size: 11px;
                padding: 13px 24px 8px 37px;
            }

            .b-cluster-lite_text {
                line-height: 17px;
                margin-bottom: 8px;
            }

            .b-cluster-lite_name {
                color: #bdbfbf;
                font-weight: 700;
            }

            @media screen and (min-width: 768px) {
                #mobileNotif {
                    display: none;
                }
            }
        </style>
    </div>
</div>