<div class="brand-header">
    <a class="mb-logo" href="{{ site.data.socials.mrbendy }}"></a>
    <a class="brand-link" href="{{ site.data.socials.discord }}">Discord</a>
    <a class="brand-link" href="http://forum.worldoftanks.ru/index.php?/topic/2134176-«wot-это-классика»-ламповый-world-of-tanks/">Форум</a>
    <a class="brand-link" href="https://koreanrandom.com/forum/topic/65511-«wot-это-классика»-ламповый-world-of-tanks/">Korean Random</a>
</div>
<div class="navigation-header">
    <div class="navigation-head-centr">
        <a class="nav-logo" href="{{ '/' | relative_url }}" alt="WOT_logo"></a>
        <a class="navigation-link {% if page.url == "/" %}navigation-link-active{% endif %}" href="{{ '/' | relative_url }}">Главная</a>
        <a class="navigation-link {% if page.url == "/mods.html" %}navigation-link-active{% endif %}" href="{{ '/mods' | relative_url }}">Моды</a>
        <a class="navigation-link {% if page.url == "/community.html" %}navigation-link-active{% endif %}" href="{{ '/community' | relative_url }}">Сообщество</a>
    </div>
</div>
<div>
    <div class="content-wrapper">
        <a title="World of Tanks Classic" class="wotc-logo" href="{{ '/' | relative_url }}"></a>
    </div>
</div>