<div class="brand-header">
    <a class="mb-logo" href="{{ site.data.socials.bendy.mrbendy.url }}"></a>
    <a class="brand-link" href="{{ site.data.socials.wek.discord.url }}">Discord</a>
    <a class="brand-link" href="http://forum.tanki.su/index.php?/topic/2134176-«wot-это-классика»-ламповый-world-of-tanks/">Форум</a>
    <a class="brand-link" href="https://koreanrandom.com/forum/topic/65511-«wot-это-классика»-ламповый-world-of-tanks/">Korean Random</a>
</div>
<div class="navigation-header" id="navbar" style="top: 0;">
    <div class="navigation-head-centr">
        <a class="nav-logo" href="{{ '/' | relative_url }}" alt="WOT_logo"></a>
        {% assign current_category = page.url | split: "/" | slice: 1 | first | split: "." | first %}
        <div class="dropdown single {% if page.url == "/" %}active{% endif %}">
            <a class="navigation-link" href="{{ '/' | relative_url }}">Главная</a>
        </div>
        <div class="dropdown {% if current_category == "mods" %}active{% endif %}">
            <a class="navigation-link" href="{{ '/mods' | relative_url }}" style="margin: 0 0px;">Моды</a>
            <button onclick="toggleDropdown('dropdownMods')" class="dropbtn"></button>
            <div id="dropdownMods" class="dropdown-content">
                <a href="{{ '/mods/download' | relative_url }}">Скачать моды</a>
                <a href="{{ '/guide/newcomers' | relative_url }}">Новичку</a>
                <a href="{{ '/development' | relative_url }}">В разработке</a>
                <a href="{{ '/guide' | relative_url }}">Руководство</a>
                <a href="{{ '/updates' | relative_url }}">Обновления</a>
            </div>
        </div>
        <div class="dropdown single {% if current_category == "media" %}active{% endif %}">
            <a class="navigation-link" href="{{ '/media' | relative_url }}">Медиа</a>
        </div>
        <div class="dropdown {% if current_category == "community" %}active{% endif %}">
            <a class="navigation-link" href="{{ '/community' | relative_url }}" style="margin: 0 0px;">Сообщество</a>
            <button onclick="toggleDropdown('dropdownCommunity')" class="dropbtn"></button>
            <div id="dropdownCommunity" class="dropdown-content">
                <a href="http://forum.tanki.su/index.php?/topic/2134176-%C2%ABwot-%D1%8D%D1%82%D0%BE-%D0%BA%D0%BB%D0%B0%D1%81%D1%81%D0%B8%D0%BA%D0%B0%C2%BB-%D0%BB%D0%B0%D0%BC%D0%BF%D0%BE%D0%B2%D1%8B%D0%B9-world-of-tanks/">Форум</a>
                <a href="https://koreanrandom.com/forum/topic/65511-%C2%ABwot-%D1%8D%D1%82%D0%BE-%D0%BA%D0%BB%D0%B0%D1%81%D1%81%D0%B8%D0%BA%D0%B0%C2%BB-%D0%BB%D0%B0%D0%BC%D0%BF%D0%BE%D0%B2%D1%8B%D0%B9-world-of-tanks/">Korean Random</a>
                <a href="{{ '/community/leaderboard' | relative_url }}">Зал славы</a>
                <a href="https://www.donationalerts.com/r/muramiha">Помочь проекту</a>
            </div>
        </div>
        <div class="dropdown single {% if current_category == "support" %}active{% endif %}">
            <a class="navigation-link" href="{{ '/support' | relative_url }}">Поддержка</a>
        </div>
    </div>
</div>
<div style="display: none; height: 66px;" id="navbar_blank"></div>
<div>
    <div class="content-wrapper">
        <a title="World of Tanks Classic" class="wotc-logo" href="{{ '/' | relative_url }}"></a>
        <div class="b-cluster-lite" id="mobileNotif">
            <div class="b-cluster-lite_message">
                <p class="b-cluster-lite_text">
                    <span class="b-cluster-lite_name">Внимание!</span>
                    <br>
                    В данный момент просмотр сайта на мобильных устройствах не поддерживается. Для оптимального опыта рекомендуем использовать настольную версию браузера.
                </p>
            </div>
        </div>
        {% if jekyll.environment == "development" %}
        <div class="b-cluster-lite">
            <div class="b-cluster-lite_message">
                <p class="b-cluster-lite_text">
                    <span class="b-cluster-lite_name">Внимание!</span>
                    <br>
                    Вы просматриваете тестовую версию сайта. Содержимое может содержать ошибки.
                </p>
            </div>
        </div>
        {% endif %}
        <style>
            .b-cluster-lite {
                background-color: #000;
                background-position: 100% 0;
                background-repeat: no-repeat;
                box-shadow: 0 0 10px rgba(0, 0, 0, .7), 0 0 1px rgba(255, 255, 255, .4) inset;
                position: absolute;
                right: 0;
                top: 75px;
                width: 510px;
            }

            .b-cluster-lite_message {
                background: url(/assets/img/cluster_message_ico.png) no-repeat 7px 8px;
                color: #909191;
                font-size: 11px;
                padding: 13px 24px 8px 37px;
            }

            .b-cluster-lite_text {
                line-height: 17px;
                margin-bottom: 8px;
            }

            .b-cluster-lite_name {
                color: #bdbfbf;
                font-weight: 700;
            }

            @media screen and (min-width: 768px) {
                #mobileNotif {
                    display: none;
                }
            }
        </style>
    </div>
</div>