<span class="footer-menu-link change-region" id="region_dropdown" onclick="toggleRegionChanger(this)">Сменить регион</span>

<style>
.change-region {
    padding: 0 14px 0 22px;
    position: relative;
    cursor: pointer;
}
.change-region:after, .change-region:before {
    position: absolute;
    background-repeat: no-repeat;
    content: "";
}
.change-region:before {
    background-size: 14px 11px;
    top: 3px;
    left: 0;
    height: 11px;
    width: 14px;
}
.change-region__ruby:before {
    background-image: url({{ '/assets/img/ruby.svg' | relative_url }});
}
.change-region__world:before {
    background-image: url({{ '/assets/img/world.svg' | relative_url }});
}
.change-region:after {
    top: 6px;
    right: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTIgNyI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmO308L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xMiAyVjBoLTFMNiA0IDEgMEgwdjJsNS45IDVINnoiLz48L3N2Zz4=);
    background-size: 8px 5px;
    width: 8px;
    height: 5px;
}
.change-region__open:after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTIgNyI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmO308L3N0eWxlPjxwYXRoIGlkPSJYTUxJRF8yN18iIGNsYXNzPSJzdDAiIGQ9Ik0wIDV2MmgxbDUtNCA1IDRoMVY1TDYuMSAwSDZ6Ii8+PC9zdmc+);
    text-decoration: none;
}
</style>
