{% if include.title != nil %}
<div>
    {% if include.title == 'default' %}
    <h3 style="margin-top: 10px; margin-bottom: 5px;">Мы в социальных сетях:</h3>
    {% else %}
    <h4 style="margin-top: 10px; margin-bottom: 5px;">{{ include.title }}</h3>
    {% endif %}
</div>
{% endif %}
<ul class="social-icons" style="padding-bottom: 0; margin: 0 -7px -7px 0;">
    {% for social in site.data.socials[include.person] %}
    <li class="social-icons_item">
        <a class="social-icons_link" href="{{ social[1] }}" target="_blank" rel="noopener noreferrer">
            {% assign name = social[0] -%}
            <img class="social-icons_img" src="{{ site.data.socials._icons[name] | default: site.data.socials._icons._default | relative_url }}">
        </a>
    </li>
    {% endfor %}
</ul>