{% if include.title != nil %}
<div>
    {% if include.title == 'default' %}
    <h3 style="margin-top: 10px; margin-bottom: 5px;">Мы в социальных сетях:</h3>
    {% else %}
    <h4 style="margin-top: 10px; margin-bottom: 5px;">{{ include.title }}</h3>
    {% endif %}
</div>
{% endif %}
<ul class="social-icons" style="padding-bottom: 0; margin-bottom: -7px;">
    {% for social in site.data.socials[include.person] %}
        {% if social[1].icon == nil %}{% continue %}{% endif %}
        <li class="social-icons_item">
            <a class="social-icons_link" href="{{ social[1].url }}" target="_blank" rel="noopener noreferrer">
                <img class="social-icons_img" src="{{ social[1].icon | relative_url }}">
            </a>
        </li>
    {% endfor %}
</ul>