<div class="wide">
    <div class="wide-content">
        <div class="wide-text">
            <a class="o-wide-text" href="#">
                <img width="209" height="135" src="{{ '/assets/img/join-clan.jpg' | relative_url }}">
                <span class="text-pos">
                    <span class="text-head">PLACEHOLDER</span>
                    <span class="text"></span>
                </span>
                <span class="blackout"></span>
            </a>
        </div>
        <div class="wide-text">
            <a class="o-wide-text" href="#">
                <img width="209" height="135" src="{{ '/assets/img/join-clan.jpg' | relative_url }}">
                <span class="text-pos">
                    <span class="text-head">PLACEHOLDER</span>
                    <span class="text"></span>
                </span>
                <span class="blackout"></span>
            </a>
        </div>
        <div class="wide-text">
            <a class="o-wide-text" href="#">
                <img width="209" height="135" src="{{ '/assets/img/join-clan.jpg' | relative_url }}">
                <span class="text-pos">
                    <span class="text-head">PLACEHOLDER</span>
                    <span class="text"></span>
                </span>
                <span class="blackout"></span>
            </a>
        </div>
    </div>
</div>