<style>
#ny_timer_wrapper {
    background: url(/assets/img/timer_counter.png) no-repeat -19px 47px;
    height: 217px;
    background-position: 327px -98px;
    margin-right: 25px;
    margin-top: 105px;
    padding-left: 90px;
    padding: 0px 0 0 190px;
}

#ny_timer_main {
    display: inline-block;
    vertical-align: top;
    margin-top: -45px;
}

#ny_timer_text {
    color: #d2d7d9;
    margin-left: 125px;
    font-size: 14px;
    margin-bottom: 25px;
}

#ny_timer_left {
    font-size: 110px;
    line-height: 38px;
    font-family: "WarHeliosCondCBold","Arial Narrow",arial,sans-serif;
    text-shadow: 0 2px #000;
    vertical-align: top;
    letter-spacing: 2px;
}

#ny_timer_info {
    display: inline-block;
    font-size: 13px;
    line-height: normal;
    vertical-align: middle;
    margin-left: 30px;
    width: 338px;
}

#ny_timer_title {
    font-size: 25px;
    margin-bottom: 6px;
}

.ny-timer-colon {
    display: inline-block;
    font: 0/0 a;
    color: transparent;
    height: 17px;
    margin: 14px 8px 0 5px;
    vertical-align: top;
    width: 4px;
    background: url(/assets/img/timer_colon.png) no-repeat 0 0;
}
</style>
<div id="ny_timer_wrapper">
    <div id="ny_timer_main">
        <div id="ny_timer_text">До обновления:</div>
        <span id="ny_timer_left">0</span>
    </div>
</div>
<script>
var timerInterval

// const gmtOffset = '+03:00';
// const updateDate = new Date("2030-01-01T15:00:00.000" + gmtOffset);
// const updateDate = new Date("2030-01-01T15:00:00.000");
var updateDate = new Date();
const timerLeft = document.getElementById("ny_timer_left");
const curDateElems = document.getElementsByClassName("cur-date");
const tomDateElems = document.getElementsByClassName("tom-date");

function setTime() {
    const currentDate = new Date();
    const button = document.getElementsByClassName("hidden-button")[0];
    updateDate.setDate(currentDate.getDate() + 1);
    updateDate.setHours(15, 0, 0);
    const timeLeft = Math.floor((updateDate - currentDate) / 1000);
    timerLeft.innerHTML = formatTime(timeLeft);
    // if (button) {
    //     if (timeLeft <= 0) {
    //         button.style.display = 'block';
    //     } else {
    //         button.style.display = 'none';
    //     }
    // }
    for (let i = 0; i < curDateElems.length; i++)
        curDateElems[i].innerHTML = currentDate.toLocaleDateString();
    for (let i = 0; i < tomDateElems.length; i++)
        tomDateElems[i].innerHTML = updateDate.toLocaleDateString();
}

function padNumber(num) {
    return Math.floor(num/10) > 0 ? num : '0'+num;
}

function formatTime(time) {
    const hours = Math.floor(time / 3600);
    const minutes = Math.floor((time % 3600) / 60);
    const seconds = Math.floor((time % 3600) % 60);
    return padNumber(hours)+"<span class=\"ny-timer-colon\">:</span>"+padNumber(minutes)+"<span class=\"ny-timer-colon\">:</span>"+padNumber(seconds);
}

setTime();
timerInterval = setInterval(setTime, 1000);
</script>