.fan-pages_wrapper {
    font-size: 0;
    line-height: 0;
    letter-spacing: -0.31em;
    word-spacing: -0.43em;
    margin: 0 -15px 0 -52px;
    padding: 10px 0 14px;
}

.fan-pages_item {
    font-size: 12px;
    letter-spacing: normal;
    line-height: normal;
    word-spacing: normal;
    filter: alpha(opacity=70);
    opacity: .7;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 37px;
    width: 180px;
    padding: 14px;
    border: 1px solid transparent;
}

.fan-pages_item__indent-bottom {
    margin-bottom: 36px;
}

.fan-pages_item:hover {
    filter: alpha(opacity=100);
    opacity: 1;
    border-color: #363636
}

.b-app-info_title {
    color: #fff;
    font: 17px/21px "WarHeliosCondC","Arial Narrow",Arial,sans-serif;
    position: relative;
    display: inline-block;
    margin: 0 0 5px;
    max-height: 42px;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}

.b-app-info_title:after {
    content: "";
    position: absolute;
    top: 20px;
    right: -8px;
    width: 90px;
    height: 24px;
    background: linear-gradient(to right, rgba(28,28,30,0.2) 0%, rgba(28,28,30,0.6) 30%, #1c1c1e 100%);
}

.b-app-info_producer {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666;
    margin-bottom: 14px;
    word-wrap: normal;
}

.b-app-info {
    width: 180px;
}

.b-app-info_text__top-indent {
    padding: 14px 0 0;
}

.b-platform-icons_item:first-child {
    margin-left: 0;
}
.b-platform-icons_item {
    opacity: .6;
    float: left;
    margin-left: 10px;
    height: 20px;
}

.b-platform-icons {
    border-top: 1px solid #363636;
    padding: 14px 0 0;
}

.b-app-info_title a {
    color: #fff;
}

.b-software-list_img {
    width: 180px;
    height: 180px;
}

.b-platform-icons:after, .b-app-general:after {
    clear: both;
    content: ".";
    display: block;
    line-height: 0;
    height: 0;
    visibility: hidden;
}

.b-app-general_img {
    float: left;
    margin-right: 26px;
    border: 1px solid #373636;
    width: 170px;
    margin-left: 37px;
    padding-right: 10px;
}

.b-app-general {
    margin: 32px -37px 46px;
}

.t-app-general {
    font-size: 13px;
    color: #8c8b8c;
    width: 360px;
}

.t-app-general_cell:first-child {
    padding-right: 24px;
}

.t-app-general_cell {
    padding-bottom: 5px;
    line-height: 26px;
}

.t-app-general_platform {
    display: inline-block;
    white-space: nowrap;
}

.t-app-general_cell img {
    filter: alpha(opacity=50);
    opacity: .5;
    position: relative;
    top: 3px;
    margin-right: 5px;
}

.b-app-general_right-wrapper {
    float: right;
    max-width: 336px;
    text-align: right;
}

.b-app-general_download {
    position: relative;
    display: inline-block;
}

.orange-button:hover .big-orange-button-right {
    background-position: 100% -46px;
}

.big-orange-button:hover { 
    background-position: 0 -46px
}

.l-tabs {
    position: relative;
    margin: 25px 0 0;
}

.b-tabs-list {
    display: block;
    padding: 0;
    vertical-align: middle;
    height: 34px;
}

.b-tabs-list_item.js-tabs__active {
    background: url(/assets/img/tab.png) no-repeat 0 0;
    height: 37px;
    top: -1px;
    z-index: 10;
}

.b-tabs-list_item:first-child {
    margin-left: 0;
}

.b-tabs-list_item {
    background: url(/assets/img/tab.png) no-repeat 0 -38px;
    float: left;
    height: 34px;
    margin-right: 50px;
    margin-left: -2px;
    position: relative;
}

.b-tabs-list_item.js-tabs__active .b-tabs-list_link {
    background-position: right -73px;
    height: 37px;
    line-height: 36px;
}

.js-tabs__active .b-tabs-list_link, .js-tabs__active .b-tabs-list_link:hover {
    color: #fff;
    border: none;
    cursor: default;
    text-shadow: 0 0 15px rgba(255,255,255,0.5), 0 0 5px rgba(255,255,255,0.3);
}

.b-tabs-list_link__platform {
    padding: 0 32px;
    font-size: 17px;
}

.b-tabs-list_link {
    background: url(/assets/img/tab.png) no-repeat right -110px;
    color: #909091;
    font-family: "WarHeliosCondC","Arial Narrow",Arial,sans-serif;
    font-size: 16px;
    font-stretch: condensed;
    float: left;
    height: 34px;
    line-height: 34px;
    margin-right: -50px;
    padding: 0 25px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.54);
    text-transform: none;
    min-width: 18px;
    text-align: center;
}

.b-main-divider {
    background: url(/assets/img/fan_pages/divider-long.png) no-repeat 0 0;
    height: 26px;
    left: -25px;
    position: absolute;
    top: 34px;
    width: 708px;
    z-index: 1;
}

.b-main-divider__long {
    background: url(/assets/img/fan_pages/divider-long.png) no-repeat;
    width: 1000px;
}

.b-tabs {
    display: block;
    padding-top: 21px;
    position: relative;
    z-index: 2;
}

.b-horizontal-carousel {
    position: relative;
    margin-bottom: 20px;
}

.b-horizontal-carousel_wrapper {
    width: 100%;
    height: 176px;
    overflow: hidden;
    position: relative;
}

.b-horizontal-carousel_item:first-child {
    margin: 0;
}

.b-horizontal-carousel_item {
    filter: alpha(opacity=90);
    opacity: .9;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    float: left;
    height: 176px;
    margin-left: 25px;
    position: relative;
}

.b-horizontal-carousel_link {
    display: block;
}

.b-horizontal-carousel_img {
    height: 176px;
}

.b-app-description p {
    margin-bottom: 10px;
    font-size: 15px;
}

.b-app-description h2, .b-app-description h3 {
    margin-bottom: 32px;
}

.b-tabs-list_item.js-tabs__active .b-tabs-list_link img {
    filter: alpha(opacity=100);
    opacity: 1;
}

.b-tabs-list_link img {
    filter: alpha(opacity=50);
    opacity: .5;
    position: relative;
    top: 3px;
    margin-right: 5px;
}

.b-app-description ul {
    margin-bottom: 32px;
}

.b-app-description ul li {
    padding-left: 30px;
    margin-bottom: 10px;
    background: url(/assets/img/list-marker.png) no-repeat 0 2px;
    line-height: 133%;
    font-size: 15px;
}