#devMain:before {
    right: 50%;
}

#devMain:after {
    left: 50%;
}

#devMain {
    position: relative;
    z-index: 2;
    height: 100%;
    padding-top: 9px;
    margin-top: 45px;
    margin-bottom: 45px;
    padding-bottom: 31px;
    text-align: center;
}

#devMain:hover {
    opacity: 1
}

#devMain:after, #devMain:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 404%;
    top: -1px;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.oneblock {
    margin: 0;
    width: 950px;
}

.oneblock, .oneblock h2, .oneblock h3, .oneblock h4 {
    color: #fffbed;
}

.b4r-header {
    font-size: 16px;
    color: #dcdcdc;
    padding: 0;
    margin: 0 0 5px 0;
    text-decoration: none;
    font-family: "WarHeliosCondCBold","Arial Narrow",arial,sans-serif;
    display: block
}

.b4r-indev {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 0 -6px;
    text-align: left;
    font-size: 12px;
    letter-spacing: normal;
    line-height: normal;
    word-spacing: normal;
}

.related_time {
    color: #858576;
    display: block;
}

.related_category, .related_time {
    letter-spacing: normal;
    line-height: normal;
    word-spacing: normal;
    color: #b1b19c;
    font: 11px robotocondensedregular,"Arial Narrow",Arial,sans-serif;
    position: relative;
    text-transform: uppercase;
}

#devPast img {
    float: left;
    margin-right: 10px;
    width: 150px;
}

.devNowBlock:nth-child(2) {
    padding-left: 0;
}

.devNowBlock {
    display: inline-block;
    margin-bottom: 30px;
    padding: 0 7px;
    width: 300px;
    vertical-align: top;
}

.devNowBlock img {
    display: block;
    width: 100%;
    opacity: .95;
}

#devPast a span {
    font-size: 16px;
}

.devNowBlock a span {
    display: block;
    font-family: "WarHeliosCondC","Arial Narrow",Arial,sans-serif;
    font-stretch: condensed;
    font-size: 20px;
    color: #ebe4c7;
    font-weight: normal;
    margin: 8px 0 8px;
    padding: 0;
}

.devNowBlock:hover img {
    opacity: 1
}

.devNowBlock a:hover span {
    color: #fffbed;
    text-decoration: underline;
}

.oneBlock {
    margin: 0;
    width: 950px;
}

.oneBlock_post {
    margin: 0;
}