@use "sass:meta";
@font-face {
    font-family: robotocondensedbold;
    src: url('/assets/font/robotocondensed-bold-webfont.eot');
    src: url('/assets/font/robotocondensed-bold-webfont.eot') format("embedded-opentype"),url('/assets/font/robotocondensed-bold-webfont.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: robotocondensedregular;
    src: url('/assets/font/robotocondensed-regular-webfont.eot');
    src: url('/assets/font/robotocondensed-regular-webfont.eot') format("embedded-opentype"),url('/assets/font/robotocondensed-regular-webfont.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: robotoregular;
    src: url('/assets/font/roboto-regular-webfont.eot');
    src: url('/assets/font/roboto-regular-webfont.eot') format("embedded-opentype"),url('/assets/font/roboto-regular-webfont.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: 'WarHeliosCondC';
    src: url('/assets/font/warhelioscondc-webfont.eot');
    src: url('/assets/font/warhelioscondc-webfont.eot') format("embedded-opentype"),url('/assets/font/warhelioscondc-webfont.woff') format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'WarHeliosCondCBold';
    src: url('/assets/font/warhelioscondcbold-webfont.eot');
    src: url('/assets/font/warhelioscondcbold-webfont.eot') format("embedded-opentype"),url('/assets/font/warhelioscondcbold-webfont.woff') format("woff");
    font-weight: normal;
    font-style: normal
}

a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
    color: #f25322;
    transition: color .15s ease-out;
}

a:hover {
    color: #ff7e00
}

ol,
ul {
    list-style: none;
}

h1,
.b-header-h1 {
    font-family: "WarHeliosCondC", "Arial Narrow", Arial, sans-serif;
    font-stretch: normal;
    font-size: 32px;
    color: #fff;
    font-weight: normal;
    text-shadow: #000 0 1px 0;
    margin: 4px 0 18px;
}



h3 {
    font-family: "WarHeliosCondC", "Arial Narrow", Arial, sans-serif;
    font-stretch: normal;
    font-size: 21px;
    color: #fff;
    font-weight: normal;
    margin: 24px 0 15px;
    padding: 0;
}

h4,
.b-header-h4 {
    font-family: "WarHeliosCondC", "Arial Narrow", Arial, sans-serif;
    font-stretch: condensed;
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    margin: 16px 0 8px;
    padding: 0;
}

h5,
.b-header-h5 {
    font-family: Arial, "Helvetica CY", Helvetica, sans-serif;
    font-stretch: normal;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    margin: 16px 0 8px;
    padding: 0;
}

h6,
.b-header-h6 {
    color: #979899;
    font-size: 12px;
    font-family: Arial, "Helvetica CY", Helvetica, sans-serif;
    font-stretch: normal;
    font-weight: bold;
    margin: 10px 0 3px 0;
    padding: 0;
}

body,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: 0 0;
}

@media screen and (max-width: 650px) {

a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

body,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: 0 0;
}

h2 {
        font-family: "WarHeliosCondC", "Arial Narrow", Arial, sans-serif;
        font-stretch: normal;
        font-style: normal;
        font-size: 30px;
        color: #fff;
        font-weight: 400;
        margin: 16px 0 14px;
        padding: 0;
}

body {
    color: #b1b2b2;
    font: 12px/20px Arial, "Helvetica CY", Helvetica, sans-serif;
    background: url('/assets/img/back.jpg') top no-repeat, url('/assets/img/sparkles.png') 50% 0 #1c1c1e
}

.brand-header {
    background: #050505;
        box-shadow: 0 0 0 1px rgba(255,255,255,0.1);
    position: relative;
    height: 37px;
}

.mb-logo {
    display: inline-block;
    opacity: 50%;
    margin: 8px 0px;
    margin-left: 10px;
    width: 19px;
    height: 19px;
    line-height: 19px;
    vertical-align: middle;
    background: url(../img/MB_logo.png) no-repeat 0 50%;
}

.mb-logo:hover {
    opacity: 100%;
}

.brand-link {
    color: #b1b2b2;
    font-size: 13px;
    line-height: 37px;
    border: none;
    vertical-align: top;
    height: 37px;
    margin: 0 10px;
    vertical-align: top;
}

.brand-link:hover {
    color: #fff
}

.navigation-header {
    background-color: rgba(39, 39, 41, .85);
}

.navigation-link {
    display: inline-block;
    vertical-align: top;
    position: relative;
    white-space: normal;
    background-color: transparent;
    color: #aaaaab;
    font: 14px/66px "robotocondensedbold", "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
}

.navigation-link-active {
    color: #fff;
}

.navigation-link:hover {
    color: #fab81b
}

.navigation-link-active:hover {
    color: #fff;
}

.navigation-head-centr {
    max-width: 1000dvw;
    margin: 0 auto;
    height: 60px;
    padding: 0px 0px 0 65px;

    
    .dropdown single active{
        display: none;
    }

    .dropdown single{
        display: none;
    }

    .dropdown{
        display: none;
    }
}

.mob-navigation-btn{
    position: absolute;
    right: 0;
    width: 70px;
    height: 60px;
    background: url('../img/controls.png')no-repeat 0 0;
    color: transparent;
    cursor: pointer;
}

.b-cluster-lite{
    display: none;
}

.content{#ny_timer_wrapper{
    display: none;
}

}

.b-rss-link{
    display: none;
}

.carousel-container{
    display: none;
}

.r-content{
    display: none;
}

.nav-logo{
    position: absolute;
    height: 64px;
    width: 32px;
    display: block;
    opacity: 50%;
    background: url('/assets/img/mini_wot_white.svg') no-repeat 0 50%;
    background-size: 24px 42px;
    margin-top: -5px;
    left: 20px; 

}

.l-content{
    position: relative;
    padding: 0 20px;
    padding-top: 24px;
    display: block;
}

//main content styling must be over there
.orange-arrow{
    color: #dedede;
    font-size: 15px;
}
.wide-content{
    display: none;
}
.n-import-icon{
    display: none;
}
.n-img-desc{
    display: none;
}
.post-cont{
    height: 150px;
    font-size: 0;
    line-height: 0;
    letter-spacing: -.31em;
    transition: opacity .2s linear;
    position: relative;
    background-color: rgba(42, 41, 41, .6);
    white-space: nowrap;
    margin-bottom: 17px;
    right: 0;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .13);
}
.imgblock-category,
.news-comment,
i
{
    display: none;
}
.img-content{
    font-size: 15px;
    letter-spacing: normal;
    line-height: normal;
    word-spacing: normal;
    box-sizing: border-box;
    display: inline-block;
    white-space: normal;
    vertical-align:middle;
    padding: 17px 15px; 
    
    padding-top: 0;
    padding-bottom: 0;
    width: 50%;
}

.img-link{
    font-family: WarHeliosCondC, Arial Narrow, Arial, sans-serif;
    display: block;
    font-size: 15px;
    line-height: 20px;
    color: #dedede;
    word-wrap: break-word;
    max-height: 80px;
    transition: color linear .2s;
    
    margin-bottom: 8px;
    
}

.n-block-img{
    
    font: 0 / 0 a;
    text-shadow: none;
    color: transparent;
    background-size: cover;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 50%;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #000;
    transform: translateZ(0);
    transition: all linear .2s;
    opacity: .8;

    
}

.n-img-date{
    display: block;
    font: 15px / 1.2 Arial, Helvetica CY, Helvetica, sans-serif;
    color: #787878;
    
}
/*
.img-content{
    font-size: 0;
    line-height: 0;
    letter-spacing: -.31em;
    transition: opacity .2s linear;
    position: relative;
    background-color: rgba(42, 41, 41, .6);
    white-space: nowrap;
    margin-bottom: 17px;
    
}
.n-img-desc{
    display: none;
}
.n-block-img{
    display: inline-block;
    width: 50%;
    opacity: .8;
    font: 0 / 0 a;
    text-shadow: none;
    color: transparent;
    background-size: cover;
    position: relative;


}
.img-link{
    font-size: 15px;
    letter-spacing: normal;
    line-height: normal;
    word-spacing: normal;
    box-sizing: border-box;
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    padding: 17px 15px;
    width: 50%;
    position: absolute;
    right: -20px;
    margin-top: 10px;
}*/




.footer{
    background: #101010;
    position: relative;
    clear: both;
    top: 15px;
}
.footer-holder{
    margin-left: auto;
    margin-right: auto;
    max-width: 100dvw;
    box-sizing: border-box;
}

.footer-copyright{
    color: #646464;
    font-family: "robotocondensedregular", "Arial Narrow", Arial, sans-serif;
    display: inline-block;
    padding-top: 30px;
    line-height: 18px;
    padding: 0 15px;
    text-align:center;
}

.footer-links{
    padding-top: 34px;
    padding-bottom: 22px;
}
.footer-menu{
    width: 100%;
   
    overflow: hidden;
    box-sizing: border-box;
}

.footer-menu-link {
    
    color: #dad7d6;
    display: block;
    font: 14px "robotocondensedregular", "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
    padding: 10px 0 10px;

    text-align:center;
}

.footer-logo{
    
    padding: 10px 15px;
    margin-top: 50px;
    box-sizing: border-box;
}
.footer-logo-link {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    display:block;
    background: url('/assets/img/mb_footer_logo.png');
    background-size: 100% 100%;
   
    width: 132px;
    height: 70px;
    margin: auto;
}

hr{display: none;

}

}



@media screen  and (min-device-width: 650px) and (min-device-height: 650px) and (min-width: 650px){
    .mob-navigation-btn{
        display: none;
    }
}
