---
title: Обзор обновлений
layout: media
---

<div style="display: none;">Видеоролики, связанные с обзором обновлений.</div>

<div class="heading-media clearfix">
    <h2 class="news-head">Обзор обновлений</h2>
</div>
<div class="img-signature">
    {% for video in site.data.media.upd-rev %}
        {% assign code = video.url | split: "=" | last %}
        {% assign thumb = "https://img.youtube.com/vi/" | append: code | append: "/mqdefault.jpg" %}
        {% include video-block.html text=video.text url=video.url image=thumb date=video.date %}
    {% endfor %}
</div>