---
title: Видео
layout: media
---

<div style="display: none;">Официальные видеоролики, связанные с «WoT это Классика!»</div>

<div class="heading-media clearfix">
    <h2 class="news-head">Видео</h2>
</div>
<div class="img-signature">
    {% for video in site.data.media.video limit: 30 %}
        {% assign code = video.url | split: "=" | last %}
        {% assign thumb = "https://img.youtube.com/vi/" | append: code | append: "/mqdefault.jpg" %}
        {% include video-block.html text=video.text url=video.url image=thumb date=video.date %}
    {% endfor %}
</div>