---
layout: default
---

<div class="content">
    <div class="l-content">
        {% include carousel.html slides=site.data.carousel.community %}
        <div>
            <div class="b-hr-layoutfix">
                <div class="b-hr-block"><span></span></div>
            </div>

        </div>
        <div class="heading-media clearfix">
            <h2 class="news-head-title">Фан-видео</h2>
        </div>
        <div class="img-signature">
            {% include video-block.html text=" 🔥 СТАРАЯ ГРАФИКА,МУЗЫКА,ИНТЕРФЕЙС | «WoT это классика!»" url="https://www.youtube.com/watch?v=5kbRThAGU84" image="/assets/img/community/videos/video1.png" date="12.08.2023" %}
            {% include video-block.html text="Из нового в старое...Такое возможно????.....Показ модов «WoT это классика!» на игру World Of Tanks" url="https://www.youtube.com/watch?v=t-050prAJUE" image="/assets/img/community/videos/video2.png" date="02.07.2023" %}
            {% include video-block.html text="WOT CLASSIC ВОЗВРАЩАЕТСЯ? 🐙 УНИКАЛЬНЫЙ МОД ДЛЯ WORLD OF TANKS " url="https://www.youtube.com/watch?v=MeLGBNBhLYI" image="/assets/img/community/videos/video3.png" date="16.08.2022" %}
        </div>
        <div class="wide wide-nobg">
            <div class="wide-content">
                <div class="content-com">
                    <table style="width: 100%;">
                        <tbody>
                            <tr></tr>
                            <div class="b4r r-img-text" style="margin: 0 0 0 8px;">
                                {% include block.html text="ФАН-РЕСУРСЫ" url="/fan_pages" image="/assets/img/reading_newspaper_338x139.jpg" width="336" height="139" %}
                            </div>
                            <div class="b4r r-img-text" style="margin: 0 0 0 8px;">
                                {% include block.html text="ВИКИ" url="https://wiki.lesta.ru/ru/Tank:Мир_Танков" image="/assets/img/com_wiki.png" width="336" height="139" %}
                            </div>
                            <div class="b4r r-img-text" style="margin: 0 0 0 8px;">
                                {% include block.html text="КОМАНДА WOT ЭТО КЛАССИКА!" url="/mododels" image="/assets/img/placeholder_2.png" width="336" height="139" %}
                            </div>
                            <div class="b4r r-img-text" style="margin: 0 0 0 8px;">
                                {% include block.html text="ФАН-КИТ WORLD OF TANKS" url="https://tanki.su/ru/news/common/fan_kit_wot/" image="/assets/img/fan_big_138.jpg" width="336" height="139" %}
                            </div>
                            <div class="b4r r-img-text" style="margin: 0 0 0 8px;">
                                {% include block.html text="МОДЕЛИЗМ" url="http://forum.tanki.su/index.php?/forum/81-%d0%bc%d0%be%d0%b4%d0%b5%d0%bb%d0%b8%d0%b7%d0%bc/" image="/assets/img/papertanks336x138.jpg" width="336" height="139" %}
                            </div>
                            <div class="b4r r-img-text" style="margin: 0 0 0 8px;">
                                {% include block.html text="WOT REPLAYS" url="http://tankireplays.lesta.ru/" image="/assets/img/com_replays.jpg" width="336" height="139" %}
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="r-content">
        {% include block.html text="ФОРУМ" url="http://forum.tanki.su/index.php?/topic/2134176-«wot-это-классика»-ламповый-world-of-tanks/" image="/assets/img/forum242.jpg" %}
        {% include block.html text="KOREAN RANDOM" url="https://koreanrandom.com/forum/topic/65511-«wot-это-классика»-ламповый-world-of-tanks/" image="/assets/img/korean_random.png" %}
        {% include block.html text="WGMODS" url="https://wgmods.net/search/?title=WoT%20это%20Классика!" image="/assets/img/com_mods.png" %}

        {% include socials.html %}

        {% for person in site.data.socials %}
            {% for link in person[1] %}
            {% unless link[1].show_link %}{% continue %}{% endunless %}
            <ul class="social-list">
                <a class="social-list-link" href="{{ link[1].url | absolute_url }}">
                    <img class="social-list-img" src="{{ link[1].icon | relative_url }}">
                    {{ person[1].name }}
                </a>
            </ul>
            {% endfor %}
        {% endfor %}
    </div>
</div>