---
layout: default
---

<div class="content">
    <div class="l-content">
        {% include carousel.html slides=site.data.carousel.community %}
        <div>
            <div class="b-hr-layoutfix">
                <div class="b-hr-block"><span></span></div>
            </div>
        </div>
        <div class="b-composite-heading clearfix">
            <h2 class="b-composite-heading_title">Лучшие игроки</h2>           
            <a class="orange-arrow" href="/community/leaderboard">Зал славы</a>
            <span class="b-composite-heading_date">Данные на 07.11.2024</span>
        </div>
        <div class="b-leadership-widget js-leaderboard-widget">
            <div class="b-leadership-widget_content js-leadership-carousel">
                <div class="b-leadership-widget_items">
                    <div class="b-leadership-widget_item js-fade-item" data-rating-type="damage_dealt"
                        style="position: absolute; display: block;">
                        <div class="b-leadership-type b-leadership-type__widget">
                            <span class="b-leadership-type_ico b-leadership-type_ico__dmg"></span>
                            <span class="b-leadership-type_title">Общий нанесённый урон (Золотой Тигр)</span>
                        </div>
                        <div class="b-leadership-widget_leader">
                            <span class="b-leadership-widget_link">
                                <a href="https://tanki.su/ru/community/accounts/27963175-Mario_174_/" class="b-link-user js-tooltip js-tooltip-only-overflow">
                                    Mario_174_
                                </a>
                            </span>
                            <p class="b-leadership-widget_result">
                                21 247 
                                <br>
                                (Белый Тигр)
                            </p>
                        </div>
                        <div class="b-leadership-widget_leader">
                            <span class="b-leadership-widget_link">
                                <a href="https://tanki.su/ru/community/accounts/145237524-KPYLLITEJIb_TBOEU_KOPMbI/"
                                    class="b-link-user js-tooltip js-tooltip-only-overflow">KPYLLITEJIb_TBOEU_KOPMbI</a>
                            </span>
                            <p class="b-leadership-widget_result">
                                19 423
                                <br>
                                (Белый Тигр)
                            </p>
                        </div>
                        <div class="b-leadership-widget_leader">
                            <span class="b-leadership-widget_link">
                                <a href="https://tanki.su/ru/community/accounts/8212852-maxiklim/"
                                    class="b-link-user js-tooltip js-tooltip-only-overflow">Maxiklim</a>
                            </span>
                            <p class="b-leadership-widget_result">
                                16 079
                                <br>
                                (Хранитель)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="heading-media clearfix">
            <h2 class="news-head-title">Фан-видео</h2>
            <a href="{{ '/media/fan-video' | relative_url }}" class="orange-arrow">Все видео</a>
        </div>
        <div class="img-signature">
            {% for video in site.data.media.fan-video limit: 3 %}
                {% assign code = video.url | split: "=" | last %}
                {% assign thumb = "https://img.youtube.com/vi/" | append: code | append: "/mqdefault.jpg" %}
                {% include video-block.html text=video.text url=video.url image=thumb date=video.date %}
            {% endfor %}
        </div>
        <div class="wide wide-nobg">
            <div class="wide-content">
                <div class="content-com">
                    <table style="width: 100%;">
                        <tbody>
                            <tr></tr>
                            <div class="b4r r-img-text" style="margin: 0 0 0 8px;">
                                {% include block.html text="ФАН-РЕСУРСЫ" url="/fan-pages" image="/assets/img/reading_newspaper_338x139.jpg" width="336" height="139" %}
                            </div>
                            <div class="b4r r-img-text" style="margin: 0 0 0 8px;">
                                {% include block.html text="ВИКИ" url="https://wiki.lesta.ru/ru/Tank:Мир_Танков" image="/assets/img/com_wiki.png" width="336" height="139" %}
                            </div>
                            <div class="b4r r-img-text" style="margin: 0 0 0 8px;">
                                {% include block.html text="КОМАНДА «WOT ЭТО КЛАССИКА!»" url="/mododels" image="/assets/img/about_mini.png" width="336" height="139" %}
                            </div>
                            <div class="b4r r-img-text geolimited" style="margin: 0 0 0 8px;">
                                {% include block.html text="ФАН-КИТ WORLD OF TANKS" url="https://tanki.su/ru/news/common/fan_kit_wot/" image="/assets/img/fan_big_138.jpg" width="336" height="139" %}
                            </div>
                            <div class="b4r r-img-text" style="margin: 0 0 0 8px;">
                                {% include block.html text="МОДЕЛИЗМ" url="http://forum.tanki.su/index.php?/forum/81-%d0%bc%d0%be%d0%b4%d0%b5%d0%bb%d0%b8%d0%b7%d0%bc/" image="/assets/img/papertanks336x138.jpg" width="336" height="139" %}
                            </div>
                            <div class="b4r r-img-text geolimited" style="margin: 0 0 0 8px;">
                                {% include block.html text="WOT REPLAYS" url="http://tankireplays.lesta.ru/" image="/assets/img/com_replays.jpg" width="336" height="139" %}
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="r-content">
        {% include block.html text="ФОРУМ" url="http://forum.tanki.su/index.php?/topic/2134176-«wot-это-классика»-ламповый-world-of-tanks/" image="/assets/img/forum242.jpg" %}
        {% include block.html text="KOREAN RANDOM" url="https://koreanrandom.com/forum/topic/65511-«wot-это-классика»-ламповый-world-of-tanks/" image="/assets/img/korean_random.png" %}
        <span class="geolimited">{% include block.html text="WGMODS" url="https://wgmods.net/search/?title=WoT%20это%20Классика!" image="/assets/img/com_mods.png" %}</span>
        <hr style="width: 80%; margin: 15px auto 15px auto;">
        {% include socials.html person="bendy" title="default" %}
        <h3 style="margin-top: 7px;">Присоединяйся!</h3>
        {% comment %}
        {% for person in site.data.socials %}
            {% for link in person[1] %}
            {% unless link[1].show_link %}{% continue %}{% endunless %}
            <ul class="social-list">
                <a class="social-list-link" href="{{ link[1].url | relative_url }}">
                    <img class="social-list-img" src="{{ link[1].icon | relative_url }}">
                    {{ person[1].name }}
                </a>
            </ul>
            {% endfor %}
        {% endfor %}
        {% endcomment %}
    </div>
</div>

<style>
.orange-arrow {
    display: inline-block;
    background: url(/assets/img/orange_arrow.png) 100% 0 no-repeat;
    line-height: 13px;
    padding-right: 9px;
    bottom: -8px;
    position: relative;
}
</style>