---
layout: default
---

<div class="content">
    <div class="l-content">
        <div>
            <div class="b-hr-layoutfix">
                <div class="b-hr-block"><span></span></div>
            </div>

        </div>
        <div class="heading-media clearfix">
            <h2 class="news-head-title">Фан-видео</h2>
        </div>
        <div class="img-signature">

            <div class="img-signa-cont">
                <a class="img-signa-link" href="#">
                    <span class="img-signa-img" style="background-image: url({{ '/assets/img/video1.png' | relative_url }});"></span>
                    <span class="icon-video"></span>
                </a>
                <h2 class="img-signa-name">
                    <a class="img-signa-name-link" href="#">PLACEHOLDER_VIDEO</a>
                </h2>
                <div class="img-signa-statistic">
                    <p class="img-signa-time">66.66.666</p>
                </div>
            </div>
            <div class="img-signa-cont">
                <a class="img-signa-link" href="#">
                    <span class="img-signa-img" style="background-image: url({{ '/assets/img/video1.png' | relative_url }});"></span>
                    <span class="icon-video"></span>
                </a>
                <h2 class="img-signa-name">
                    <a class="img-signa-name-link" href="#">PLACEHOLDER_VIDEO</a>
                </h2>
                <div class="img-signa-statistic">
                    <p class="img-signa-time">66.66.666</p>
                </div>
            </div>
            <div class="img-signa-cont">
                <a class="img-signa-link" href="#">
                    <span class="img-signa-img" style="background-image: url({{ '/assets/img/video1.png' | relative_url }});"></span>
                    <span class="icon-video"></span>
                </a>
                <h2 class="img-signa-name">
                    <a class="img-signa-name-link" href="#">PLACEHOLDER_VIDEO</a>
                </h2>
                <div class="img-signa-statistic">
                    <p class="img-signa-time">66.66.666</p>
                </div>
            </div>
        </div>
        <div class="wide wide-nobg">
            <div class="wide-content">
                <div class="content-com">
                    <table style="width: 100%;">
                        <tbody>
                            <tr></tr>
                            <div class="b4r r-img-text">
                                <a class="link b4r-link-img-text img" href="#">
                                    <img src="{{ '/assets/img/reading_newspaper_338x139.jpg' | relative_url }}" width="336" height="139">
                                    <span class="text-pos-com">
                                        <span class="text-head">PLACEHOLDER-NAME</span>
                                    </span>
                                    <span class="blackout"></span>
                                </a>
                            </div>
                            <div class="b4r r-img-text">
                                <a class="link b4r-link-img-text img" href="#">
                                    <img src="{{ '/assets/img/reading_newspaper_338x139.jpg' | relative_url }}" width="336" height="139">
                                    <span class="text-pos-com">
                                        <span class="text-head">PLACEHOLDER-NAME</span>
                                    </span>
                                    <span class="blackout"></span>
                                </a>
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="r-content">
        <div class="img-text">
            <a class="ad-img" href="#">
                <img src="{{ '/assets/img/com_mods.png' | relative_url }}" width="242" height="92">
                <span class="text-pos">
                    <span class="text-head">WGMODS</span>
                </span>
                <span class="blackout"></span>
            </a>
        </div>
        <div class="img-text">
            <a class="ad-img" href="#">
                <img src="{{ '/assets/img/com_mods.png' | relative_url }}">
                <span class="text-pos">
                    <span class="text-head">WGMODS</span>
                </span>
                <span class="blackout"></span>
            </a>
        </div>
        <div class="img-text">
            <a class="ad-img" href="#">
                <img src="{{ '/assets/img/com_mods.png' | relative_url }}">
                <span class="text-pos">
                    <span class="text-head">WGMODS</span>
                </span>
                <span class="blackout"></span>
            </a>
        </div>
        {% include socials.html %}

        <ul class="social-list">
            <a class="social-list-link" href="#">
                <img class="social-list-img" src="{{ '/assets/img/youtube_28x.png' | relative_url }}">
                Kinasura
            </a>
        </ul>
        <ul class="social-list">
            <a class="social-list-link" href="#">
                <img class="social-list-img" src="{{ '/assets/img/youtube_28x.png' | relative_url }}">
                Kinasura
            </a>
        </ul>
    </div>
</div>