<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <title>{{ site.title }} - {{ page.title }}</title>
    <meta property="og:title" content="{{ page.title | escape }}">
    <meta property="og:site_name" content="{{ site.title | escape }}">
    <meta name="twitter:title" content="{{ page.title | escape }}">
    <meta name="Description" content="{{ page.excerpt | strip_html | default: site.description | escape }}">
    <meta property="og:description" content="{{ page.excerpt | strip_html | default: site.description | escape }}">
    <meta name="twitter:description" content="{{ page.excerpt | strip_html | default: site.description | escape }}">
    <link rel="canonical" href="{{ page.url | absolute_url }}">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta name="twitter:url" content="{{ page.url | absolute_url }}">
    <meta property="og:image" content="{{ page.image | absolute_url | default: '/assets/img/wotc_logo.png' | absolute_url }}">
    <meta name="thumbnail" content="{{ page.image | absolute_url | default: '/assets/img/wotc_logo.png' | absolute_url }}">
    <meta name="twitter:image:src" content="{{ page.image | absolute_url | default: '/assets/img/wotc_logo.png' | absolute_url }}">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="yandex-tableau-widget" href="{{ '/tableau.json' | absolute_url }}" />
    <link rel="icon" href="{{ '/assets/img/favicon_wot.ico' | relative_url }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <link rel="preload" href="{{ '/assets/font/warhelioscondc-webfont.woff' | relative_url }}" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="{{ '/assets/font/warhelioscondcbold-webfont.woff' | relative_url }}" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="{{ '/assets/font/robotocondensed-bold-webfont.woff' | relative_url }}" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="{{ '/assets/font/robotocondensed-regular-webfont.woff' | relative_url }}" as="font" type="font/woff" crossorigin>
    <script src="{{ '/assets/js/header.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/dropdowns.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/geoip.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/fancy-img.js' | relative_url }}"></script>
</head>

<body>
    <header class="brand-header">
        <a class="mb-logo" href="{{ site.data.socials.bendy.mrbendy }}"></a>
        <a class="brand-link" href="{{ site.data.socials.wek.discord }}">Discord</a>
        <a class="brand-link" href="http://forum.tanki.su/index.php?/topic/2134176-«wot-это-классика»-ламповый-world-of-tanks/">Форум</a>
        <a class="brand-link" href="https://koreanrandom.com/forum/topic/65511-«wot-это-классика»-ламповый-world-of-tanks/">Korean Random</a>
    </header>
    <nav class="navigation-header" id="navbar" style="top: 0;">
        <div class="navigation-head-centr">
            <a class="nav-logo geo_replace" href="{{ '/' | relative_url }}" alt="Logo"></a>
            {% assign current_category = page.url | split: "/" | slice: 1 | first | split: "." | first %}
            <div class="dropdown single {% if page.url == "/" %}active{% endif %}">
                <a class="navigation-link" href="{{ '/' | relative_url }}">Главная</a>
            </div>
            <div class="dropdown {% if current_category == "mods" %}active{% endif %}">
                <a class="navigation-link" href="{{ '/mods' | relative_url }}" style="margin: 0 0px;">Моды</a>
                <button onclick="toggleDropdown('dropdownMods')" class="dropbtn"></button>
                <div id="dropdownMods" class="dropdown-content">
                    <a href="{{ '/mods/download' | relative_url }}">Скачать моды</a>
                    <a href="{{ '/guide/newcomers' | relative_url }}">Новичку</a>
                    <a href="{{ '/development' | relative_url }}">В разработке</a>
                    <a href="{{ '/guide' | relative_url }}">Руководство</a>
                    <a href="{{ '/updates' | relative_url }}">Обновления</a>
                </div>
            </div>
            <div class="dropdown single {% if current_category == "media" %}active{% endif %}">
                <a class="navigation-link" href="{{ '/media' | relative_url }}">Медиа</a>
            </div>
            <div class="dropdown {% if current_category == "community" %}active{% endif %}">
                <a class="navigation-link" href="{{ '/community' | relative_url }}" style="margin: 0 0px;">Сообщество</a>
                <button onclick="toggleDropdown('dropdownCommunity')" class="dropbtn"></button>
                <div id="dropdownCommunity" class="dropdown-content">
                    <a href="http://forum.tanki.su/index.php?/topic/2134176-%C2%ABwot-%D1%8D%D1%82%D0%BE-%D0%BA%D0%BB%D0%B0%D1%81%D1%81%D0%B8%D0%BA%D0%B0%C2%BB-%D0%BB%D0%B0%D0%BC%D0%BF%D0%BE%D0%B2%D1%8B%D0%B9-world-of-tanks/">Форум</a>
                    <a href="https://koreanrandom.com/forum/topic/65511-%C2%ABwot-%D1%8D%D1%82%D0%BE-%D0%BA%D0%BB%D0%B0%D1%81%D1%81%D0%B8%D0%BA%D0%B0%C2%BB-%D0%BB%D0%B0%D0%BC%D0%BF%D0%BE%D0%B2%D1%8B%D0%B9-world-of-tanks/">Korean Random</a>
                    <a href="{{ '/community/leaderboard' | relative_url }}">Зал славы</a>
                    <a href="https://boosty.to/mr.bendy">Помочь проекту</a>
                </div>
            </div>
            <div class="dropdown single {% if current_category == "support" %}active{% endif %}">
                <a class="navigation-link" href="{{ '/support/lesta' | relative_url }}">Поддержка</a>
            </div>
        </div>
    </nav>
    <div style="display: none; height: 66px;" id="navbar_blank"></div>
    <div class="content-wrapper">
        <a class="wotc-logo geo_replace" href="{{ '/' | relative_url }}" alt="Logo"></a>
        <div class="b-cluster-lite">
            <noscript>
                <div class="b-cluster-lite_message" id="noJSNotif">
                    <p class="b-cluster-lite_text">
                        <span class="b-cluster-lite_name">Внимание!</span>
                        <br>
                        Ваш браузер не поддерживает JavaScript. Некоторые элементы сайта могут работать некорректно и иметь неактуальную информацию.
                    </p>
                </div>
            </noscript>
            <div class="b-cluster-lite_message" id="noGeoNotif" style="display: none;">
                <p class="b-cluster-lite_text">
                    <span class="b-cluster-lite_name">Внимание!</span>
                    <br>
                    Нам не удалось определить вашу страну, выбран регион по умолчанию: <strong>RUBY</strong>.<br>При необходимости изменить регион можно вручную в нижней части страницы.
                </p>
            </div>
            <div class="b-cluster-lite_message" id="outdatedNotif">
                <p class="b-cluster-lite_text">
                    <span class="b-cluster-lite_name">Внимание!</span>
                    <br>
                    Вы используете устаревшую версию браузера, поэтому некоторые элементы сайта могут работать некорректно. Для оптимального опыта рекомендуем обновить браузер.
                </p>
            </div>
            <div class="b-cluster-lite_message" id="mobileNotif">
                <p class="b-cluster-lite_text">
                    <span class="b-cluster-lite_name">Внимание!</span>
                    <br>
                    В данный момент просмотр сайта на мобильных устройствах не поддерживается. Для оптимального опыта рекомендуем использовать настольную версию браузера.
                </p>
            </div>
            {% if jekyll.environment == "development" %}
            <div class="b-cluster-lite_message">
                <p class="b-cluster-lite_text">
                    <span class="b-cluster-lite_name">Внимание!</span>
                    <br>
                    Вы просматриваете тестовую версию сайта. Содержимое может содержать ошибки.
                </p>
            </div>
            {% endif %}
        </div>
    </div>
    {{ content }}
    <footer class="footer">
        <div class="footer-social">
            <ul class="social-big">
                <li class="social-big_item">
                    <a class="social-link social-link_wot" href="https://tanki.su/" target="_blank">
                        <div class="social-ico-container">
                            <span class="social-ico social-ico-wot geo_replace"></span>
                            <div class="social-big-info">
                                <p class="social-big-text">ПРИСОЕДИНЯЙТЕСЬ</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="social-big_item">
                    <a class="social-link social-link_discord" href="{{ site.data.socials.wek.discord }} " target="_blank">
                        <div class="social-ico-container">
                            <span class="social-ico social-ico-discord"></span>
                            <div class="social-big-info">
                                <p class="social-big-text">СЛЕДИТЕ В DISCORD</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="social-big_item">
                    <a class="social-link social-link_vk" href="{{ site.data.socials.bendy.vk }}" target="_blank">
                        <div class="social-ico-container">
                            <span class="social-ico social-ico-vk"></span>
                            <div class="social-big-info">
                                <p class="social-big-text">ЧИТАЙТЕ ВКОНТАКТЕ</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="social-big_item">
                    <a class="social-link social-link_yt" href="{{ site.data.socials.bendy.youtube }}" target="_blank">
                        <div class="social-ico-container">
                            <span class="social-ico social-ico-yt"></span>
                            <div class="social-big-info">
                                <p class="social-big-text">СМОТРИТЕ НА YOUTUBE</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-holder">
            <div class="footer-links">
                <div class="footer-menu">
                    <a class="footer-menu-link" href="{{ '/about' | relative_url }}">О нас</a>
                    <a class="footer-menu-link" href="https://legal.lesta.ru/eula/">Лицензионное соглашение</a>
                    <a class="footer-menu-link" href="{{ '/support' | relative_url }}">Центр поддержки</a>
                    <a class="footer-menu-link" href="https://tanki.su/">Официальный сайт игры</a>
                    <a class="footer-menu-link" href="http://forum.tanki.su/index.php?/topic/2134176-%c2%abwot-%d1%8d%d1%82%d0%be-%d0%ba%d0%bb%d0%b0%d1%81%d1%81%d0%b8%d0%ba%d0%b0%c2%bb-%d0%bb%d0%b0%d0%bc%d0%bf%d0%be%d0%b2%d1%8b%d0%b9-world-of-tanks/">Форум</a>
                    <a class="footer-menu-link" href="https://koreanrandom.com/forum/topic/65511-%C2%ABwot-%D1%8D%D1%82%D0%BE-%D0%BA%D0%BB%D0%B0%D1%81%D1%81%D0%B8%D0%BA%D0%B0%C2%BB-%D0%BB%D0%B0%D0%BC%D0%BF%D0%BE%D0%B2%D1%8B%D0%B9-world-of-tanks/">Korean Random</a>
                    {% include region-selector.html %}
                </div>
                <div class="footer-logo">
                    <a class="footer-logo-link" href="https://muramiha.github.io/"></a>
                </div>
            </div>
        </div>
        {% include region-selector-body.html %}
        <div class="footer-bottom">
            <div class="footer-copyright">
                © 2019–{{ site.time | date: "%Y" }} «WoT это Классика!» Не является официальным проектом «Леста Игры». Все оформления страниц и ресурсы принадлежат их соответствующим правообладателям.
                <span class="geolimited"><br>Эта работа включает торговые знаки и/или объекты авторского права, являющиеся собственностью исключительно Wargaming. Все права защищены Wargaming. Это неофициальная работа, не получившая одобрения Wargaming.</span>
            </div>
        </div>
    </footer>
</body>