---
layout: default
---

<div class="content">
    <div class="b-content" style="padding: 25px; padding-right: 0px; padding-left: 0px;">
        <h1>{{ page.title }}</h1>
        <p id="db1">
            <a class="download-button" style="display: inline-block;width: 230px;margin: 0 auto;margin-left: 242px;padding-left: 18px;"
                href="{{ site.data.socials.wek.mods.lesta.installer }}"><img
                src="{{ '/assets/img/logos/mt_white.svg' | relative_url }}" alt="МТ" class="download-button_ico-holder" height="40px" width="40px"><span
                class="download-button_text">
                    <span class="download-button_main-text">Скачать модпак</span>
                    <span class="download-button_region">Мир Танков, RUBY-регион</span>
                </span>
            </a>
            <a class="download-button" style="display: inline-block;width: 230px;margin: 0 auto;margin-left: 50px;padding-left: 18px;"
                href="{{ site.data.socials.wek.mods.wg.installer }}"><img
                src="{{ '/assets/img/logos/wot_white.svg' | relative_url }}" alt="WoT" class="download-button_ico-holder" height="44px" width="40px"><span
                class="download-button_text">
                    <span class="download-button_main-text">Скачать модпак</span>
                    <span class="download-button_region">World of Tanks, EU/NA/Asia</span>
                </span>
            </a>
        </p>
        <p style="text-align: center;margin-top: 10px;margin-left: -285px;"><strong><a href="{{ site.data.socials.wek.mods.lesta.drive }}" target="_blank">Скачать моды для ручной установки</a></strong></p>
        <p style="text-align: center;margin-top: -16px;margin-left: 280px;"><strong><a href="{{ site.data.socials.wek.mods.wg.drive }}" target="_blank">Скачать моды для ручной установки</a></strong></p>
        <p class="message-warning" style="width: 700px; margin: 16px auto 0;">Внимание! Некоторые системы могут распознать программу установки как вирус из-за отсутствия платной цифровой подписи. В случае возникновения проблем, рекомендуем отключить антивирус на время скачивания и установки, либо внести файл в список исключений.</p>
        <p style="text-align: center; margin-top: -10px;">Чтобы установить «WoT это Классика!» на свой компьютер вручную, следуйте
            <a href="https://www.youtube.com/watch?v=PoTa1BcTlxQ">видео-инструкции</a>.
        </p>
        <hr>
        {% capture mods-status %}{% include mods-status.md %}{% endcapture %}
        {{ mods-status | markdownify }}
        <hr>
        <h3 style="text-align: left;">СИСТЕМНЫЕ ТРЕБОВАНИЯ ДЛЯ «МИРА ТАНКОВ»</h3>
        <table class="req-table">
            <tr style="border-bottom: 1px solid #353231;">
                <th>Параметр</th>
                <th>Минимальные системные требования</th>
                <th style="width: 30%;">Рекомендуемые системные требования</th>
            </tr>
            <tr>
                <td style="width: 30%;">Операционная система:</td>
                <td>64-битная Windows 7 SP1, 8, 8.1, 10, 11</td>
                <td>64-битная Windows 10 (или более поздняя)</td>
            </tr>
            <tr>
                <td>Процессор (CPU):</td>
                <td>Intel Pentium E2180 / AMD Athlon 64 X2 4200+ для ПК;<br>Intel Core i5-2540M / AMD A4-3305M для ноутбука</td>
                <td>Intel Core i5-12400F / AMD Ryzen 5 5600X</td>
            </tr>
            <tr>
                <td>Оперативная память (RAM):</td>
                <td>3 ГБ для ПК,<br>4 ГБ для ноутбука</td>
                <td>16 ГБ (или больше)</td>
            </tr>
            <tr>
                <td>Видеоадаптер:</td>
                <td>NVIDIA GeForce 8600 / Radeon HD 4550 для ПК;<br>Intel HD Graphics 3000 (Sandy Bridge) / AMD Radeon HD 6480G для ноутбука</td>
                <td>GeForce RTX 3050 / Radeon RX 6600</td>
            </tr>
            <tr>
                <td>Свободное место на жёстком диске:</td>
                <td>~70 ГБ</td>
                <td>~100 ГБ</td>
            </tr>
            <tr>
                <td>Скорость интернет-соединения:</td>
                <td>256 Кбит/с</td>
                <td>1+ Мбит/с (для работы голосового чата)</td>
            </tr>
        </table>
        <hr>
        <h3 style="text-align: left;">СИСТЕМНЫЕ ТРЕБОВАНИЯ ДЛЯ WORLD OF TANKS</h3>
        <table class="req-table">
            <tr style="border-bottom: 1px solid #353231;">
                <th>Параметр</th>
                <th>Минимальные системные требования</th>
                <th>Рекомендуемые системные требования</th>
            </tr>
            <tr>
                <td style="width: 30%;">Операционная система:</td>
                <td>Windows 7/8/8.1/10/11 (только 64-разрядная версия)</td>
                <td>Windows 10/11 (только 64-разрядная версия)</td>
            </tr>
            <tr>
                <td>Процессор:</td>
                <td>Intel Core i5-3330, AMD FX-6300 для ПК;<br>Intel Core i5-3230M для ноутбука</td>
                <td>Intel Core i3-9100F, AMD Ryzen 3 3100</td>
            </tr>
            <tr>
                <td>ОЗУ:</td>
                <td>4 ГБ</td>
                <td>16 ГБ или больше</td>
            </tr>
            <tr>
                <td>Видеокарта:</td>
                <td>Nvidia GTX 460, AMD Radeon HD 8770, разрешение экрана 1280x768 для ПК;<br>Nvidia GT 740M для ноутбука</td>
                <td>Nvidia GTX 1650, AMD Radeon RX 580</td>
            </tr>
            <tr>
                <td>Жёсткий диск:</td>
                <td>~ 70 ГБ свободного места</td>
                <td>~ 70 ГБ свободного места</td>
            </tr>
            <tr>
                <td>Скорость интернет-соединения:</td>
                <td>256 Кбит/с</td>
                <td>1024 Кбит/с или выше (для работы голосового чата)</td>
            </tr>
        </table>
        <style>
            .req-table {
                width: 100%;
            }
            .req-table th {
                text-align: left;
                color: #fff;
                font: 18px "warhelioscondc", "Arial Narrow", Arial, sans-serif;
                font-stretch: condensed;
                padding: 10px 0 8px;
            }
            .req-table td {
                padding-top: 10px;
            }
        </style>
        <hr>
        <div class="b-content">
            <p style="text-align: center; margin-bottom: 15px;">
                    Дополнительное программное обеспечение
            </p>
            <table style="width: 100%;" border="0">
                <tbody>
                    <tr>
                        <td style="text-align: center;"><span><img dir="false" style="vertical-align: middle;"
                                    src="/assets/img/logos/raricon48.png"
                                    alt="" width="36" height="30"></span><span></span><a class="nvidia"
                                href="https://www.win-rar.com/start.html?&L=4"
                                target="_blank"><span style="margin-left: 10px;">WinRAR</span></a></td>
                        <td style="text-align: center;"><img dir="false" style="vertical-align: middle;"
                                src="/assets/img/logos/7ziplogo.png"
                                alt="" width="36" height="30"><span></span><a class="amd"
                                href="https://www.7-zip.org/"
                                target="_blank"><span style="margin-left: 10px;">7-Zip</span></a></td>
                        <td style="text-align: center;"><img dir="false" style="vertical-align: middle;"
                                src="/assets/img/logos/tc.png"
                                alt="" width="36" height="30"><span></span><a class="directx"
                                href="https://www.ghisler.com/"
                                target="_blank"><span style="margin-left: 10px;">Total Commander</span></a></td>
                    </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
            <p style="text-align: center;">Дополнительное программное обеспечение может быть полезно игрокам, у которых
                проблемы с установкой модов.<br></p>
        </div>
        <hr>
        <h5 style="text-align: center;"><a href="https://wgmods.net/search/?owner=778034" target="_blank">Альтернативный способ скачивания модов (WGMods, только EU/NA/Asia)</a></h5>
        <p style="text-align: center;">Альтернативные способы скачивания модов будут полезны игрокам,<br>которые по какой-либо причине не могут установить моды через тот или иной сервис.</p>
    </div>
</div>