---
layout: default
---

<div class="content">
    <div class="b-content" style="padding: 25px; padding-right: 0px; padding-left: 0px;">
        <h1>{{ page.title }}</h1>
        <p id="db1">
            <a class="download-button" style="display: inline-block;width: 230px;margin: 0 auto;margin-left: 242px;padding-left: 18px;"
                href="{{ site.data.socials.wek.mods.lesta.installer }}">
                <span class="download-button_ico-holder"><img src="/assets/img/logos/lesta_logo.svg" alt="win-ico" class="download-button_ico-win" height="32px" width="32px"></span><span
                class="download-button_text">
                    <span class="download-button_main-text">Скачать установщик</span>
                    <span class="download-button_region">RUBY-регион, Lesta Games</span>
                </span>
            </a>
            <a class="download-button" style="display: inline-block;width: 230px;margin: 0 auto;margin-left: 50px;padding-left: 18px;"
                href="{{ site.data.socials.wek.mods.wg.installer }}">
                <span class="download-button_ico-holder"><img src="/assets/img/logos/Wargaming_logo.svg" alt="win-ico" class="download-button_ico-win" height="32px" width="32px"></span><span
                class="download-button_text">
                    <span class="download-button_main-text">Скачать установщик</span>
                    <span class="download-button_region">EU-регион, Wargaming.net</span>
                </span>
            </a>
        </p>
        <p style="text-align: center;margin-top: 10px;margin-left: -285px;"><strong><a href="{{ site.data.socials.wek.mods.lesta.drive }}" target="_blank">Скачать моды для ручной установки</a></strong></p>
        <p style="text-align: center;margin-top: -16px;margin-left: 280px;"><strong><a href="{{ site.data.socials.wek.mods.wg.drive }}" target="_blank">Скачать моды для ручной установки</a></strong></p>
        <p class="message-warning" style="width: 700px; margin: 16px auto 0;">Внимание! Из-за отсутствия платной цифровой подписи, некоторые антивирусы могут распознавать установщик как вирус. При возникновении проблем, рекомендуем отключить его на время скачивания и установки или внести файл в исключения.</p>
        <p style="text-align: center; margin-top: -10px;">Чтобы установить «WoT это Классика!» на свой компьютер вручную, просто следуйте 
            <a href="https://www.youtube.com/watch?v=PoTa1BcTlxQ">инструкциям</a>.
        </p>
        <hr>
        {% capture mods-status %}{% include mods-status.md %}{% endcapture %}
        {{ mods-status | markdownify }}
        <hr>
        <h3 style="text-align: left;">СИСТЕМНЫЕ ТРЕБОВАНИЯ</h3>
        <p style="margin-top: 10px;">Для установки модов «WoT это Классика!» требуется актуальный клиент «<a href="https://tanki.su/ru/game/">Мира Танков</a>» или <a href="https://worldoftanks.eu/ru/game/">World of Tanks</a>.<br></p>
        <table style="width: 100%;" border="0">
            <tbody>
                <tr style="border-bottom: 1px solid #353231;">
                    <td style="padding-top: 10px;border-bottom: 1px solid #353231;">
                        <h4><span>Параметр</span></h4>
                    </td>
                    <td style="padding-top: 10px;">
                        <h4>Минимальные системные требования</h4>
                    </td>
                    <td style="padding-top: 10px;">
                        <h4>Рекомендуемые системные требования</h4>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 10px; width: 30%;">Операционная система:</td>
                    <td style="padding-top: 10px;">64-битная Windows 7 SP1, 8, 8.1, 10, 11</td>
                    <td style="padding-top: 10px;">64-битная Windows 10 (или более поздняя)</td>
                </tr>
                <tr>
                    <td style="padding-top: 10px;">Процессор (CPU):</td>
                    <td style="padding-top: 10px;">Intel Pentium E2180 / AMD Athlon 64 X2 4200+ для ПК;<br>Intel Core i5-2540M / AMD A4-3305M для ноутбука</td>
                    <td style="padding-top: 10px;">Intel Core i5-12400F / AMD Ryzen 5 5600X</td>
                </tr>
                <tr style="padding-top: 10px !important;">
                    <td style="padding-top: 10px;">Оперативная память (RAM):</td>
                    <td style="padding-top: 10px;">3 ГБ для ПК,<br>4 ГБ для ноутбука</td>
                    <td style="padding-top: 10px;">16 ГБ (или больше)</td>
                </tr>
                <tr>
                    <td style="padding-top: 10px;">Видеоадаптер:</td>
                    <td style="padding-top: 10px;">NVIDIA GeForce 8600 / Radeon HD 4550 для ПК;<br>Intel HD Graphics 3000 (Sandy Bridge) AMD Radeon HD 6480G для ноутбука</td>
                    <td style="padding-top: 10px;">GeForce RTX 3050 / Radeon RX 6600</td>
                </tr>
                <tr>
                    <td style="padding-top: 10px;">Свободное место на жёстком диске:</td>
                    <td style="padding-top: 10px;">~70 ГБ</td>
                    <td style="padding-top: 10px;">~100 ГБ</td>
                </tr>
                <tr>
                    <td style="padding-top: 10px;" colspan="1" rowspan="1">Скорость интернет-соединения:</td>
                    <td style="padding-top: 10px;" colspan="1" rowspan="1">256 Кбит/с</td>
                    <td style="padding-top: 10px;" colspan="1" rowspan="1">1+ Мбит/с (для работы голосового чата)</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div class="b-content">
            <p style="text-align: center; margin-bottom: 15px;">
                    Дополнительное программное обеспечение
            </p>
            <table style="width: 100%;" border="0">
                <tbody>
                    <tr>
                        <td style="text-align: center;"><span><img dir="false" style="vertical-align: middle;"
                                    src="/assets/img/logos/raricon48.png"
                                    alt="" width="36" height="30"></span><span></span><a class="nvidia"
                                href="https://www.win-rar.com/start.html?&L=4"
                                target="_blank"><span style="margin-left: 10px;">WinRAR</span></a></td>
                        <td style="text-align: center;"><img dir="false" style="vertical-align: middle;"
                                src="/assets/img/logos/7ziplogo.png"
                                alt="" width="36" height="30"><span></span><a class="amd"
                                href="https://www.7-zip.org/"
                                target="_blank"><span style="margin-left: 10px;">7-Zip</span></a></td>
                        <td style="text-align: center;"><img dir="false" style="vertical-align: middle;"
                                src="/assets/img/logos/tc.png"
                                alt="" width="36" height="30"><span></span><a class="directx"
                                href="https://www.ghisler.com/"
                                target="_blank"><span style="margin-left: 10px;">Total Commander</span></a></td>
                    </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
            <p style="text-align: center;">Дополнительное программное обеспечение может быть полезно игрокам, у которых
                проблемы с установкой модов.<br></p>
        </div>
    </div>
</div>