---
layout: default
---

<div class="content">
    <div class="l-content">
        <iframe src="https://live.vkplay.ru/app/embed/pbody_iwnl" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="684" style="margin-bottom: -5px; border: 1px #000000 solid;"></iframe>
        <h2>Смотрим обновление</h2>
        <hr>

        <!-- {% include carousel.html slides=site.data.carousel.home %} -->
        {% include posts.html %}
    </div>
    <div class="r-content">
        {% include block.html url="/mods/download" image="/assets/img/wot_243_ru.png" %}
        {% include block.html text="WGMODS" url="https://wgmods.net/search/?owner=778034" image="/assets/img/com_mods.png" %}
        {% include block.html text="ПРИГЛАСИ ДРУГА!" url="https://tanki.su/ru/news/game-events/referral-program-season-9/" image="/assets/img/side/ref_242.jpg" %}
        {% include block.html text="В РАЗРАБОТКЕ" url="/development" image="/assets/img/side/in_dev_92_1.jpg" %}
        {% include block.html text="ПОДДЕРЖАТЬ ПРОЕКТ!" url="https://www.donationalerts.com/r/muramiha" image="/assets/img/side/donationalerts.png" %}
        {% include block.html text="ЦЕНТР ПОДДЕРЖКИ" url="https://lesta.ru/support/ru/products/wot/?utm_content=cm-top&utm_source=global-nav&utm_medium=link&utm_campaign=wot-portal" image="/assets/img/side/support_wot.jpg" %}
        {% include socials.html %}
        <div>
            <h3 style="margin-top: 0;">Присоединяйся!</h3>
        </div>
    </div>
</div>
