---
layout: default
---

<div class="content">
    <div class="l-content">
        {% include carousel.html slides=site.data.carousel.home %}
        {% include posts.html %}
    </div>
    <div class="r-content">
        <a class="ad-img" href="#">
            <img src="{{ '/assets/img/wot_243_ru.jpg' | relative_url }}" height="243" width="242">
            <span class="blackout"></span>
        </a>
        <div class="img-text">
            <a class="ad-img" href="#">
                <img src="{{ '/assets/img/com_mods.png' | relative_url }}">
                <span class="text-pos">
                    <span class="text-head">WGMODS</span>
                </span>
                <span class="blackout"></span>
            </a>
        </div>
        {% include socials.html %}
        <div>
            <h3 style="margin-top: 0;">Присоединяйся!</h3>
        </div>
    </div>
</div>
