---
layout: default
---

<div class="content">
    <div class="l-content">
        {% include posts.html %}
    </div>
    <div class="r-content">
        <a class="ad-img" href="#">
            <img src="{{ '/assets/img/wot_243_ru.jpg' | relative_url }}" height="243" width="242">
            <span class="blackout"></span>
        </a>
        <div class="img-text">
            <a class="ad-img" href="#">
                <img src="{{ '/assets/img/com_mods.png' | relative_url }}">
                <span class="text-pos">
                    <span class="text-head">WGMODS</span>
                    <span class="blackout"></span>
                </span>
            </a>
        </div>
        <div>
            <hr style="width: 80%; margin: 10px auto 0 auto;">
            <h3 style="margin-top: 10px; margin-bottom: 5px;">Мы в социальных сетях:</h3>
        </div>
        <ul class="social-icons">
            <li class="social-icons_item">
                <a class="social-icons_link" href="https://openvk.su/mrb" title="Mr. Bendy OVK">
                    <img class="social-icons_img" src="{{ '/assets/img/ovk_28x.png' | relative_url }}">
                </a>
            </li>
        </ul>
        <div>
            <h3 style="margin-top: 0;">Присоединяйся!</h3>
        </div>
    </div>
</div>
