---
layout: default
---

<div style="overflow-x: hidden;">
    <div class="content">
        <div class="l-content">
            <div class="b-content">
                <h1>В РАЗРАБОТКЕ</h1>
                <div class="b-content">
                    <div style="width: 950px; font-size: 15px; line-height: 1.33; color: #b1b2b2; margin-bottom: 45px;">
                        <p>«В разработке» — в данном разделе публикуется актуальная информация о модах находящихся в
                            разработке проекта «WoT это Классика!» Также вы можете здесь узнать какие моды или обновления к ним уже реализованы и над какими мы еще работаем.</p>  
                            <p>Читайте «В разработке» дабы не пропускать интересную информацию мира «WoT это Классика!»</p>
                    </div>
                    {% include indev/devmain.html blocks=site.data.indev.main %}
                </div>
                <div class="b-content">
                    <h3>Планы на освещение</h3>
                    <p>
                        Делимся с вами планами на начало 2024 года.
                        Всеми любимые моды на <strong>старые скайбоксы</strong>, <strong>старые террейны</strong> и <strong>старые эффекты</strong> будут объединены в один мод под названием <strong>старое окружение</strong>.
                    </p>
                    <br>
                    <p>
                        Для видео-обзоров, новостей и т.д. будет использоваться прежнее деление модов.
                    </p>
                    <h4>
                        Изменения в старых террейнах
                    </h4>
                    <p>
                        В следующем обновлении вас ждут 3 измененных карты, а именно:
                    </p>
                    <ul>
                        <li>Мурованка</li>
                        <li>Оверлорд</li>
                        <li>Промзона</li>
                      </ul>
                    <br>
                    <p>
                        <a href="/assets/img/indev/screens/terr1.jpg">
                            <img src="/assets/img/indev/screens/terr1.jpg" alt="табло" width="100%">
                        </a>
                    </p>
                    <p>
                        <a href="/assets/img/indev/screens/terr2.jpg">
                            <img src="/assets/img/indev/screens/terr2.jpg" alt="табло" width="100%">
                        </a>
                    </p>
                    <p>
                        <a href="/assets/img/indev/screens/terr3.jpg">
                            <img src="/assets/img/indev/screens/terr3.jpg" alt="табло" width="100%">
                        </a>
                    </p>
                    {% include indev/devpast.html blocks=site.data.indev.past %}
                </div>
                <div class="b-content">
                    {% include indev/devnow.html blocks=site.data.indev.now %}
                </div>
            </div>
        </div>
    </div>
</div>