---
layout: centered
---

<div class="content">
    <div class="l-container">
        <div class="l-wide-page l-wide-page__leadership">
            <div class="b-leadership-header">
                <p class="b-leadership-header_date">Данные на
                    <a class="b-link-fake b-link-fake__gray">07.11.2024</a>
                </p>
                <h1 class="b-leadership-header_text b-box-nextlinck-header">
                    <span class="b-header-block_text">
                        Зал славы
                    </span>
                    <!-- <a class="b-header-link b-header-link__box b-header-link__big-header" href="а где?">
                        <span class="b-header-link_info-ico">О рейтингах</span>
                    </a> -->
                </h1>
            </div>
            <div class="b-leadership-filter clearfix">
                <ul class="b-leadership-filter_list" style="padding: 0px; margin: -2px; margin-left: -12px;">
                    <li class="b-leadership-filter_list-item b-leadership-filter_list-item__current">
                        <a class="b-leadership-filter_list-link">
                            <span class="b-leadership-filter_list-text">Золотой Тигр</span>
                        </a>
                    </li>
                </ul>
            </div>
            <h4>
               Хранители
            </h4>
            <table class="t-profile t-profile__sort t-profile__leadership t-profile__leadership-all">
                <thead>
                    <tr>
                        <th width="1%" class="t-profile_nohover t-profile_nohover__position">№</th>
                        <th width="1%" class="t-profile_nohover t-profile_nohover__user">Игрок</th>
                        <th class="t-profile_left t-profile_asc">
                            <div class="b-leadership-type">
                                <span class="b-leadership-type_ico b-leadership-type_ico__dmg"></span>
                                <a class="b-leadership-type_name js-tooltip" id="leadership-dmg">DMG</a>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody class="t-profile_topleader">
                    <tr class="b-leadership-separator">
                        <td>1</td>
                        <td>
                            <a href="https://tanki.su/ru/community/accounts/8212852-maxiklim/" class="b-link-user link-user">
                                Maxiklim
                            </a>
                        </td>
                        <td class="t-profile_td-sort">16 079</td>
                    </tr>
                </tbody>
                <tr class="b-leadership-separator">
                    <td>2</td>
                    <td>
                        <a href="https://tanki.su/ru/community/accounts/123694095-Uotson/" class="b-link-user link-user">
                            Uotson
                        </a>
                    </td>
                    <td class="t-profile_td-sort">16 023</td>
                </tr>
                <tr class="b-leadership-separator">
                    <td>3</td>
                    <td>
                        <a href="https://tanki.su/ru/community/accounts/47093233-Yuratoshi/" class="b-link-user link-user">
                            Yuratosh...
                        </a>
                    </td>
                    <td class="t-profile_td-sort">14 231</td>
                </tr>
            </table>
            <h4>
                Белый тигр
            </h4>
            <table class="t-profile t-profile__sort t-profile__leadership t-profile__leadership-all">
                <thead>
                    <tr>
                        <th width="1%" class="t-profile_nohover t-profile_nohover__position">№</th>
                        <th width="1%" class="t-profile_nohover t-profile_nohover__user">Игрок</th>
                        <th class="t-profile_left t-profile_asc">
                            <div class="b-leadership-type">
                                <span class="b-leadership-type_ico b-leadership-type_ico__dmg"></span>
                                <a class="b-leadership-type_name js-tooltip" id="leadership-dmg">DMG</a>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody class="t-profile_topleader">
                    <tr class="b-leadership-separator">
                        <td>1</td>
                        <td>
                            <a href="https://tanki.su/ru/community/accounts/27963175-Mario_174_/" class="b-link-user link-user">
                                Mario_17...
                            </a>
                        </td>
                        <td class="t-profile_td-sort">21 247</td>
                    </tr>
                </tbody>
                <tr class="b-leadership-separator">
                    <td>2</td>
                    <td>
                        <a href="https://tanki.su/ru/community/accounts/145237524-KPYLLITEJIb_TBOEU_KOPMbI/" class="b-link-user link-user">
                            KPYLLITE...
                        </a>
                    </td>
                    <td class="t-profile_td-sort">19 423</td>
                </tr>
            </table>
        </div>
        <div class="clr">
            <!-- -->
        </div>
    </div>
</div>