---
layout: default
---

<main class="content">
    <article class="l-content">
        {{ content }}
    </article>
    <aside class="r-content">
        {% assign category_names = "|" | split: "|" %}
        {% assign category_urls = "|" | split: "|" %}
        {% for post in site.media %}
            {% assign title = post.title | append: "|" | split: "|" %}
            {% assign url = post.url | append: "|" | split: "|" %}
            {% assign category_names = category_names | concat: title %}
            {% assign category_urls = category_urls | concat: url %}
        {% endfor %}
        {% include categories-sidebar.html name="Список тэгов" category_names=category_names category_urls=category_urls %}
    </aside>
</main>