---
layout: default
---

<div class="mods-cont">
    <div class="big">
        <div class="big-img">
            {% include yt-embed.html id="5Xra4QS0vi4" width=352 height=225 %}
        </div>
        <div class="big-desc">
            <h2 class="big-head">WOT ЭТО КЛАССИКА!</h2>
            <p class="big-desc-text">
                Серия модификаций «WoT это Классика!» - это комплект интерфейсных, графических и звуковых модов,
                разработанных для того, чтобы вернуть вам ощущение игры в "те самые танки". Они позволят вам
                окунуться в атмосферу классической игры и создадут ностальгическую атмосферу, которая привлекала
                многих игроков к игре.
            </p>
            <p class="big-desc-text">
                Благодаря этим модификациям, вы сможете насладиться игрой, как в ее лучшие годы, и ощутить все
                те эмоции, которые вы испытывали раньше.
            </p>
            <a class="orange-button" href="#">
                <span class="big-orange-button">
                    <span class="big-orange-button-right">Скачать моды</span>
                </span>
            </a>
        </div>
    </div>
    <div class="wide wide-top">
        <div class="wide-content">
            <div class="b4r r-img-text">
                <a class="link link-img-text" href="#">
                    <img width="214" height="132" src="{{ '/assets/img/old_battle.png' | relative_url }}" alt="">
                    <span class="blackout"></span>
                </a>
            </div>
        </div>

        <div class="wide-content">
            <div class="b4r r-img-text">
                <a class="link link-img-text" href="#">
                    <img width="214" height="132" src="{{ '/assets/img/old_battle.png' | relative_url }}" alt="">
                    <span class="blackout"></span>
                </a>
            </div>
        </div>
        <div class="wide-content">
            <div class="b4r r-img-text">
                <a class="link link-img-text" href="#">
                    <img width="214" height="132" src="{{ '/assets/img/old_battle.png' | relative_url }}" alt="">
                    <span class="text-pos">
                        <span class="text-head">В РАЗРАБОТКЕ</span>
                    </span>
                    <span class="blackout"></span>
                </a>
            </div>
        </div>
    </div>
</div>
