---
layout: default
---

<div class="content">
    <div class="l-content">
        {% assign title = page.title %}
        {% assign path = page.url | split: "/" %}
        {% for category in site.data.categories %}
            {% if path contains category[0] %}
                {% assign category = category[0] %}
                {% assign title = category[1] %}
                {% break %}
            {% endif %}
        {% endfor %}
        {% if page.title == "Все новости" %}{% assign title = "НОВОСТИ" %}{% endif %}
        {% include posts.html title=title %}
        {% if paginator.page_trail %}
            <div class="l-pager paginator">
                <ul class="b-pager">
                    <li class="b-pager_item">
                        <a class="b-pager_arr {% if paginator.page == paginator.first_page %}disabled"{% else %}" href="{{ paginator.previous_page_path | relative_url }}"{% endif %}><span class="b-pager_arr-text">←</span>
                        </a>
                    </li>
                    <li class="b-pager_item b-pager_item__pages">
                        {% if paginator.page_trail[0].num != paginator.first_page %}
                            <a class="b-pager_link" href="{{ paginator.first_page_path | relative_url }}">{{ paginator.first_page }}</a>
                            {% assign v = paginator.page_trail[0].num | minus: 1 %}
                            {% if v > paginator.first_page %}
                                <span class="b-pager_ellipsis">…</span>
                            {% endif %}
                        {% endif %}
                        {% for trail in paginator.page_trail %}
                            <a class="b-pager_link {% if trail.num == paginator.page %}current"{% else %}" href="{{ trail.path | relative_url }}"{% endif %}>{{ trail.num }}</a>
                        {% endfor %}
                        {% if paginator.page_trail[-1].num != paginator.last_page %}
                            {% assign v = paginator.page_trail[-1].num | plus: 1 %}
                            {% if v < paginator.last_page %}
                                <span class="b-pager_ellipsis">…</span>
                            {% endif %}
                            <a class="b-pager_link" href="{{ paginator.last_page_path | relative_url }}">{{ paginator.last_page }}</a>
                        {% endif %}
                    </li>
                    <li class="b-pager_item">
                        <a class="b-pager_arr {% if paginator.page == paginator.last_page %}disabled"{% else %}" href="{{ paginator.next_page_path | relative_url }}"{% endif %}> <span class="b-pager_arr-text">→</span></a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="r-content">
        {% assign category_names = "" %}
        {% assign category_urls = "" %}
        {% for category in site.categories %}
            {% assign category_name = category[0] %}
            {% assign category_name = site.data.categories[category_name] %}
            {% assign category_names = category_names | append: category_name | append: "|" %}
            {% assign category_url = "/news/" | append: category[0] %}
            {% assign category_urls = category_urls | append: category_url | append: "|" %}
        {% endfor %}
        {% assign category_names = category_names | append: "Важные новости|Все новости" %}
        {% assign category_urls = category_urls | append: "/news/important|/news" %}
        {% assign category_names = category_names | split: "|" %}
        {% assign category_urls = category_urls | split: "|" %}
        {% include categories-sidebar.html category_names=category_names category_urls=category_urls %}
        {% include important_categories-sidebar.html %}
    </div>
</div>