---
layout: centered
---

<h1>Техподдержка</h1>
<p class="message-error">Информация в разделе неактуальна. За поддержкой обращайтесь в <a href="{{ site.data.socials.wek.discord }}" target="_blank">Discord-сервер</a> или <a href="https://t.me/+Bw8CiblYExw0OTk6" target="_blank">Telegram-чат</a>.</p>
<p><a href="{{ 'support/' | append: page.region | relative_url }}">&lt; К выбору мода</a></p>
<h3>Мод: {{ page.title }}</h3>
{{ content }}
<div>
    <div class="b-hr-layoutfix">
        <div class="b-hr-block"><span></span></div>
    </div>
</div>
<p>Если вы не нашли здесь свою проблему, то перейдите в соответствующий <a href="{{ '/support/' | append: page.region | append: '/idk' | relative_url }}">раздел</a>.</p>