---
layout: centered
---

<h1>Техподдержка</h1>
<h2>Регион: {% if page.region == 'lesta' %}Lesta Games (RUBY){% else %}Wargaming.net (EU){% endif %}</h2>
<p><a href="{{ 'support/' | append: page.region | relative_url }}">&lt; К выбору мода</a></p>
{{ content }}
<hr>
<h3>Связаться с нами</h3>
<p>Если же вы не нашли свою проблему, то обратитесь в <b>#баг-трекер</b> на нашем <a href="{{ site.data.socials.wek.discord.url }}">Discord-сервере</a>.</p>
<div class="message-error"><strong>ВНИМАНИЕ! Обязательно ознакомьтесь с данной памяткой, ибо если вы *не* проделайте эти действия, ваш тикет будет закрыт и вы можете получить наказание на сервере за несоблюдение шаблона баг-репортов.</strong></div>
<ul>
    <li><strong>В первую очередь, попытайтесь найти похожую проблему в уже существующих темах в канале. Если она будет схожей, то мы уже знаем о ней и стараемся решить; создание отчётов-дубликатов крайне не приветствуется.</strong></li>
    <li>Если похожих проблем на баг-трекере не найдено, обязательно в сообщении своего тикета оставьте файл <code>python.log</code> из папки с игрой и два снимка экрана из папок <code>res_mods/[актуальный_патч_игры]</code> и <code>mods/[актуальный_патч_игры]</code>.</li>
    <li>Также убедитесь, что вы <strong>всё</strong> сделали правильно при установке наших модов. Очень частая проблема при установке модов, что вы <strong>не</strong> удалили <strong>ВСЕ</strong> старые моды из папок, указанных выше. <strong>Мы не оказываем помощь в установке модов.</strong></li>
</ul>
{% include button.html url=site.data.socials.wek.discord.url text="Перейти на Discord-сервер" %}
<br>